<!--=================================================================-->
<!-- NAME FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> nameFormComponent name="String"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="nameFormComponent">
   <div class="form-group">
		<label for="name">{{_ "Name"}}</label>
   	<input class="form-control input-lg" name="name" id="name" type="text" maxlength="50" value="{{this.name}}" placeholder="{{_ 'Your_Name'}}" autocomplete="off" required>
	</div>
</template>
