/* SECTION TITLE */
.sectionTitle {
   color: #33CCFF;
   /*color: #000c0d;*/
   text-transform: uppercase;
   font-family: 'Slackey', cursive;
}
.sectionTitle.large {
   font-size: 30px;
}
.sectionTitle.small {
   font-size: 20px;
}

/* SUB-SECTION TITLE */
.subSectionTitle {
   color: #66CC33;
   text-transform: uppercase;
}
.subSectionTitle.large {
   font-size: 20px;
}
.subSectionTitle.small {
   font-size: 16px;
}
