<!--=================================================================-->
<!-- SECTION TITLE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> sectionTitle text="text" [class=""]}} -->
<!-- REQUIRED SUBS: '' -->
<template name="sectionTitle">
   <h3 class="sectionTitle {{sizeClass}} text-center {{#if classIsSet}}{{this.class}}{{/if}}">{{_ this.text}}</h3>
   <!--<br>-->
</template>


<!--=================================================================-->
<!-- SUBSECTION TITLE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> subSectionTitle text="text" [number="number"] [class="custom-classes"]}} -->
<!-- REQUIRED SUBS: '' -->
<template name="subSectionTitle">
   <h4 class="subSectionTitle large {{#if classIsSet}}{{this.class}}{{/if}}">
      {{_ this.text}}
      {{#if numberIsSet}}
         &nbsp;
         ({{this.number}})
      {{/if}}
   </h4>
</template>
