<!--=================================================================-->
<!-- NEW ACTIVITY BREAD CRUMBS TEMPLATE -->
<!--=================================================================-->
<template name="newActivityBreadCrumbs">
	<p><a href="{{pathFor 'home'}}">{{_ "Home"}}</a> &gt; {{_ "Create_Activity"}}</p>
</template>
