<!--=================================================================-->
<!-- HEADER PROFILE BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> headerProfileButton type="mobile/tablet/desktop"}} -->
<!-- REQUIRED SUBS: template-level -->
<!-- COMMENTS: device type-dispatcher -->
<template name="headerProfileButton">
   {{#if currentUser}}
      {{#if mobile}}
         {{> headerItem section="profile" text="Profile" icon="ion-ios-person" href="/profile/" param=curUserId active="" type="mobile"}}
      {{else}}
         {{#if tablet}}
            {{> headerItem section="profile" text="Profile" icon="ion-ios-person" href="/profile/" param=curUserId active="" type="tablet"}}
         {{else}}
            {{#if desktop}}
               <a href="/profile/{{curUserId}}" class="navbar-btn">
                  {{#if Template.subscriptionsReady}}
                     {{> avatar user=curUser shape="square" size="small" bgColor=randomBgColor txtColor="white" class="avatar-small-inline"}}
                  {{/if}}
                  <span class="text-uppercase">{{_ "Profile"}}</span>
               </a>
            {{/if}}
         {{/if}}
      {{/if}}
   {{/if}}
</template>
