<!--=================================================================-->
<!-- ACTIVITY NAVIGATION BAR TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityNav activityId="activityId"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="activityNav">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <table class="navbar-fixed-bottom-table">
         <tr>
				{{> navBarItem section="data" text="Information" icon="ion-clipboard" active=data width="25%"}}
				{{> navBarItem section="participants" text="Participants" icon="ion-ios-people" active=participants width="25%"}}
				{{> navBarItem section="comments" text="Comments" icon="ion-chatbox" active=comments width="25%"}}
				{{> navBarItem section="map" text="Location" icon="ion-earth" active=map width="25%"}}
         </tr>
      </table>
	</nav>
</template>
