<!--=================================================================-->
<!-- FIELD WEBSITE FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> fieldWebsiteFormComponent label="String" fieldWebsite="String"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="fieldWebsiteFormComponent">
   <div class="form-group">
      <label for="field_website">{{this.label}} {{_ "Field_Website"}}</label>
      <input class="form-control input-lg" name="field_website" id="field_website" type="text" maxlength="300" placeholder="{{_ 'Field_Website_Example'}}" autocomplete="off">
   </div>
</template>
