<!--=================================================================-->
<!-- SAVE MAP BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> saveMapButton width="buttonWidth"}} -->
<!-- REQUIRED SUBS: template-level -->
<template name="saveMapButton">
   {{#visibleXs}}
      <td role="presentation" width="{{this.width}}">
         <a class="navbar-item-wrapper" href="#">
            <div class="row navbar-item-container">
               <div class="navbar-item-icon-container col-xs-12">
                  <i class="navbar-item-icon ion-earth"></i>
               </div>
               <div class="navbar-item-text-container col-xs-12">
                  <span class="navbar-item-text">{{_ "Save_Region"}}</span>
               </div>
            </div>
         </a>
      </td>
   {{/visibleXs}}
</template>
