<!--=================================================================-->
<!-- ACTIVITIES BREAD CRUMBS TEMPLATE -->
<!--=================================================================-->
<template name="activitiesBreadCrumbs">
	<p><a href="{{pathFor 'home'}}">{{_ "Home"}}</a> &gt; {{_ "Public_Activities"}}</p>
</template>
