@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-7h4ndv');
	src:url('fonts/icomoon.eot?#iefix-7h4ndv') format('embedded-opentype'),
		url('fonts/icomoon.woff?-7h4ndv') format('woff'),
		url('fonts/icomoon.ttf?-7h4ndv') format('truetype'),
		url('fonts/icomoon.svg?-7h4ndv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cone:before {
	content: "\e600";
}

.icon-locked:before {
	content: "\e601";
}

.icon-unlocked:before {
	content: "\e602";
}

.icon-map:before {
	content: "\e025";
}

.icon-key:before {
	content: "\e02c";
}

.icon-profile-male:before {
	content: "\e040";
}

.icon-profile-female:before {
	content: "\e041";
}

.icon-hand:before {
	content: "\e603";
}

.icon-key2:before {
	content: "\e604";
}

.icon-locked2:before {
	content: "\e605";
}

.icon-unlocked2:before {
	content: "\e606";
}

.icon-megaphone:before {
	content: "\e607";
}

.icon-chat:before {
	content: "\e608";
}

.icon-dollar:before {
	content: "\e609";
}

.icon-dollar2:before {
	content: "\e60a";
}

.icon-user:before {
	content: "\e60b";
}

.icon-location:before {
	content: "\e60c";
}

.icon-bubble:before {
	content: "\e60d";
}

.icon-params:before {
	content: "\e60e";
}

.icon-banknote:before {
	content: "\e60f";
}

.icon-t-shirt:before {
	content: "\e610";
}

.icon-chat2:before {
	content: "\e611";
}

.icon-notifications:before {
	content: "\e612";
}

.icon-notifications-on:before {
	content: "\e613";
}

.icon-user2:before {
	content: "\e614";
}

.icon-add-user:before {
	content: "\e615";
}

.icon-bell:before {
	content: "\e616";
}

.icon-cake:before {
	content: "\e617";
}

.icon-game-controller:before {
	content: "\e618";
}

.icon-globe:before {
	content: "\e619";
}

.icon-hand2:before {
	content: "\e61a";
}

.icon-megaphone2:before {
	content: "\e61b";
}

.icon-price-tag:before {
	content: "\e61c";
}

.icon-user3:before {
	content: "\e61d";
}

.icon-users:before {
	content: "\e61e";
}

.icon-location2:before {
	content: "\e947";
}

.icon-bell2:before {
	content: "\e951";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-man:before {
	content: "\e9dc";
}

.icon-point-right:before {
	content: "\ea04";
}

