<!--=================================================================-->
<!-- HEADER LOG OUT BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> headerLogOutButton type="desktop/tablet/mobile" icon="class"}} -->
<!-- REQUIRED SUBS: template-level -->
<!-- COMMENTS: device type-dispatcher -->
<template name="headerLogOutButton">
   {{#if currentUser}}
      {{#if mobile}}
         <a class="anchorWrap logout" href="#">
            <span class="spanWrap">
         	   <div class="moreItem {{active}}">
                  <span><i class="{{this.icon}}"></i>&nbsp;&nbsp;{{_ "Log_Out"}}</span>
               </div>
            </span>
         </a>
      {{else}}
         {{#if tablet}}
            <a class="logout" href="#">{{_ "Log_Out"}}</a>
         {{else}}
            {{#if desktop}}
               <a class="logout" href="#">{{_ "Log_Out"}}</a>
            {{/if}}
         {{/if}}
      {{/if}}
   {{/if}}
</template>
