<!--=================================================================-->
<!-- EDIT ACTIVITY ACTIONS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editActivityActions matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<!-- COMMENTS: template container -->
<template name="editActivityActions">
	<div class="row">
		<div class="col-xs-12">
			{{> subSectionTitle text="Special_Actions"}}
			{{> publishActivity matchId=this.matchId}}
			{{> cancelActivity matchId=this.matchId}}
			{{> deleteActivity matchId=this.matchId}}
			{{#if viewerIsOwner}}
				<div class="row" style="background-color: #F0F0F0; padding-top: 10px; padding-bottom: 5px;">
					<div class="col-xs-12">
						<form>
							{{#with match}}
								{{> select2 elemDOM="activity_admin" group="admin" team="" preLabel=" " label="Administrator" hint="Choose_User_To_Be_Admin" matchId=this._id}}
								{{> repeatFormComponent repeat=this.repeat}}
							{{/with}}
							<button type="submit" class="btn btn-success" id="saveEdit"><i class="ion-checkmark"></i> {{_ 'Save'}}</button>
							{{> loading status=loadingStatus}}
						</form>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</template>
