/*====================================================================*/
/* NOTIFICATIONS */
/*====================================================================*/
.notifDropdown {
	width: 400px;
	height: auto;
	max-height: 450px;
	overflow-x: hidden;
}
.notifDropdownDefault {
	margin-top: 5px;
	margin-left: 15px;
}
