<!--=================================================================-->
<!-- HEADER NOTIFICATIONS BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE {{> headerNotifButton type="mobile/desktop"}} -->
<!-- REQUIRED SUBS: template-level -->
<!-- COMMENTS: device-type dispatcher -->
<template name="headerNotifButton">
   {{#if currentUser}}
      {{#if mobile}}
         <a class="navbar-item-wrapper" id="link" href="/notifications">
            <div class="row navbar-item-container">
               <div class="navbar-item-icon-container col-xs-12">
                  {{#if positive}}
                     <i class="navbar-item-icon ion-android-notifications white" style="position: relative; left: 7px;"></i>
                  {{else}}
                     <i class="navbar-item-icon ion-android-notifications white"></i>
                  {{/if}}
                  <span class="{{#if positive}}label label-danger{{/if}}" title="{{_ 'Unseen_Notifications'}}" style="font-size: 9px; position: relative; left: -2px; bottom: 10px;">
                     {{#if positive}}
                        {{unreadNotif}}
                     {{/if}}
                  </span>
               </div>
               <div class="navbar-item-text-container col-xs-12">
                  <span class="navbar-item-text text-uppercase white">{{_ "Notifications_Short"}}</span>
               </div>
            </div>
         </a>
      {{else}}
         {{#if tablet}}
            <a class="/*navbar-item-wrapper*/ dropdown-toggle" id="dropdown" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
               <div class="row /*navbar-item-container*/">
                  <div class="navbar-item-icon-container col-xs-12">
                     {{#if positive}}
                        <i class="navbar-item-icon ion-android-notifications grey" style="position: relative; left: 7px;"></i>
                     {{else}}
                        <i class="navbar-item-icon ion-android-notifications grey"></i>
                     {{/if}}
                     <span class="{{#if positive}}label label-warning{{/if}}" title="{{_ 'Unseen_Notifications'}}" style="font-size: 9px; position: relative; left: -2px; bottom: 10px;">
                        {{#if positive}}
                           {{unreadNotif}}
                        {{/if}}
                     </span>
                  </div>
                  <div class="navbar-item-text-container col-xs-12" style="margin-top: -2px;">
                     <span class="navbar-item-text text-uppercase grey">{{_ "Notifications_Short"}}</span>
                  </div>
               </div>
            </a>
            {{#if displayDropdown}}
               <ul class="dropdown-menu dropdown-menu-right notifDropdown" role="menu" aria-labelledby="dropdown">
                  <li role="presentation" class="dropdown-header"><h4 class="notifDropdownTitle">{{_ "Notifications"}}</h4></li>
                  <li role="presentation" class="divider"></li>
                  {{> notifications type="desktop"}}
               </ul>
            {{/if}}
         {{else}}
            {{#if desktop}}
               <a href="#" id="dropdown" class="dropdown-toggle navbar-btn" data-toggle="dropdown" role="button" aria-expanded="false">
                  {{#if positive}}
                     <span class="label label-warning" title="{{_ 'Unseen_Notifications'}}">
                        {{unreadNotif}}
                     </span>
                     &nbsp;
                  {{/if}}
                  <span class="text-uppercase">{{_ "Notifications_Short"}}</span>
                  <span class="caret"></span>
               </a>
               {{#if displayDropdown}}
                  <ul class="dropdown-menu dropdown-menu-right notifDropdown" role="menu" aria-labelledby="dropdown">
                     <li role="presentation" class="dropdown-header"><h4 class="notifDropdownTitle">{{_ "Notifications"}}</h4></li>
                     <li role="presentation" class="divider"></li>
                     {{> notifications type="desktop"}}
                  </ul>
               {{/if}}
            {{/if}}
         {{/if}}
      {{/if}}
   {{/if}}
</template>
