<!--=================================================================-->
<!-- NEW ACTIVITY MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> newActivityMOBILE}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="newActivityMOBILE">
   <div class="window window-fullWidth window-fullHeight">
		<div class="withPadding /*page-wrap*/">
			{{> checkUser message="Log_In_To_Create_Activity"}}
			{{> newActivityPrePopulate}}
			{{> newActivityForm}}
		</div>
		<!--{{> footer}}-->
	</div>
</template>
