<!--=================================================================-->
<!-- MAXIMUM NUMBER OF PARTICIPANTS FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> maxParticipantsFormComponent label="String"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="maxParticipantsFormComponent">
	<div class="form-group">
		<label for="max_participants">{{this.label}} {{_ "Maximum_Number_Of_Participants"}}</label>
		<select class="form-control input-lg" name="max_participants" id="max_participants">
      	<option value="1">2</option>
      	<option value="2">4</option>
      	<option value="3">6</option>
      	<option value="4">8</option>
      	<option value="5">10</option>
      	<option value="6">12</option>
      	<option value="7">14</option>
      	<option value="8">16</option>
      	<option value="9">18</option>
      	<option value="10">20</option>
      	<option value="11">22</option>
			<option value="12">24</option>
			<option value="13">26</option>
			<option value="14">28</option>
			<option value="15">30</option>
			<option value="16">32</option>
			<option value="17">34</option>
			<option value="18">36</option>
			<option value="19">38</option>
			<option value="20">40</option>
		</select>
	</div>
</template>
