<!--=================================================================-->
<!-- HEADER DESKTOP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE {{> headerDESKTOP}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="headerDESKTOP">
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 58px;">
   	<div class="navbar-header">
         <a class="navbar-brand logo-large" href="{{pathFor 'home'}}">
            <img alt="fulbacho.net" src="/logos/logo10.png">
         </a>
      </div>
      <div class="nav-sections-DESKTOP">
         <ul class="nav navbar-nav">
            <li><a href="{{pathFor 'activities'}}" class="navbar-btn text-uppercase">{{_ "Activities"}}</a></li>
   			<li><a href="{{pathFor 'users'}}" class="navbar-btn text-uppercase">{{_ "Users"}}</a></li>
            <li><a href="{{pathFor 'newActivity'}}" class="navbar-btn text-uppercase">{{_ "Create_Activity"}}</a></li>
            <li>{{> headerLangButton type="desktop"}}</li>
         </ul>
         <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
            {{#if currentUser}}
               <li>{{> headerProfileButton type="desktop"}}</li>
               <li>{{> headerNotifButton type="desktop"}}</li>
               <li>{{> headerMoreButton type="desktop"}}</li>
            {{else}}
               {{> headerSignInButton type="desktop"}}
            {{/if}}
         </ul>
      </div>
   </nav>
</template>
