<!--=================================================================-->
<!-- NEW ACTIVITY PRE POPULATE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> newActivityPrePopulate}} -->
<!-- REQUIRED SUBS: template-level -->
<template name="newActivityPrePopulate">
	{{#if currentUser}}
		{{#if Template.subscriptionsReady}}
			{{#if thereArePrevMatches}}
				{{> subSectionTitle text="Auto_Complete_Form"}}
				<select class="form-control input-lg" name="pre_populate" id="pre_populate">
					<option value="">{{_ "Choose_Previous_Activity"}}</option>
					{{#each matches}}
						<option value="{{this._id}}">{{_ this.sport}}&nbsp;{{formatDateName this.date}}&nbsp;{{this.time}}h</option>
					{{/each}}
				</select>
				<br>
			{{/if}}
		{{else}}
			<span class="loading">{{_ "Loading"}}</span>
		{{/if}}
	{{/if}}
</template>
