<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Twitter Browser Policy -->
	<meta name="twitter:widgets:csp" content="on">
	<title>Fulbacho</title> <!-- See header.js -->
	<!-- Flavicon -->
	<link rel="icon" sizes="16x16 32x32" href="/favicons/favicon3.gif?v=2" type="image/gif">
	<!--<link rel="icon" sizes="16x16 32x32" href="/favicons/favicon.ico?v=2" type="image/x-icon">-->
	<!-- Google Fonts -->
	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600|Roboto:500|Oswald:400,300,700|Shadows+Into+Light|Slackey|PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>
	<!--<link href='//fonts.googleapis.com/css?family=Passion+One:400,700,900|Squada+One|Boogaloo|Cherry+Cream+Soda|Trocchi|Acme|Fredericka+the+Great|Londrina+Solid|Mouse+Memoirs|Life+Savers:400,700|Nosifer|Londrina+Shadow' rel='stylesheet' type='text/css'>-->
	<!-- Google maps API + Google spherical distance calculator -->
	<!--<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&v=3.5&libraries=geometry"></script>-->
	<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyC9-NE1_FJBNUNPBxpXemAYcv6MWUSI_Jc&v=3&libraries=geometry"></script>
	<!-- Google Map Marker Clusterer API -->
	<script type="text/html" src="/libs/marker-clusterer/src/markerclusterer.js"></script>
	<!--<script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.1/src/markerclusterer.js"></script>-->
	<!--<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer.js"></script>-->
	<!-- Scroll to JQuery plug in -->
	<!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>-->
	<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>-->
	<!-- Facebook Pixel Code -->
	<!-- <script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '245996082447003');
	fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=245996082447003&ev=PageView&noscript=1"
	/></noscript> -->
	<!-- End Facebook Pixel Code -->
</head>

<body>
</body>

<!-- Main Layout -->
<template name="mainLayout">
	<header>
		{{> header}}
	</header>
	<div class="container" style="width:940px;">
		{{> yield}}
	</div>
	{{> footer}}
</template>


<!-- Wide Layout -->
<template name="wideLayout">
	<header>
		{{> header}}
	</header>
	<div class="container-fluid" style="height: 100%;">
		{{> yield}}
	</div>
</template>

<!-- Wide Layout -->
<template name="profileLayout">
	<header>
		{{> header}}
	</header>
	<div class="container-fluid" style="height: 100%; padding: 0px; /*background-color: #F4F4F4;*/">
		{{> yield}}
	</div>
</template>

<!-- Wide Layout -->
<template name="activityLayout">
	<header>
		{{> header}}
	</header>
	<div class="container-fluid" style="height: 100%; padding: 0px;">
		{{> yield}}
	</div>
</template>

<!-- Home Layout -->
<template name="homeLayout">
	<!--<header>
		{{> header}}
	</header>-->
	<div class="container-fluid" style="height: 100%; padding: 0px; /*background-color: black;*/">
		{{> yield}}
	</div>
</template>
