html, body {
	height: 100%;
	overflow-x: hidden;
	font-size: 16px;
	color: #456;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
}

/*====================================================================*/
/* APP WIDTH */
/*====================================================================*/
.app-width {
	width: 940px;
	/*width: auto;*/
}

/*====================================================================*/
/* GENERAL */
/*====================================================================*/
.capitalize {
	text-transform: capitalize;
}
/*.red {
	background: #FF3366;
}*/

/*====================================================================*/
/* LOGIN BUTTONS */
/*====================================================================*/
#login-buttons a {
   text-decoration: none;
}
.login-password-form {
	display: none;
}
.or {
	display: none;
}
.login-button#login-buttons-open-change-password {
	display: none;
}
#configure-login-service-dialog {
	display: none;
}

/*====================================================================*/
/* LABELS */
/*====================================================================*/
.form-group label {
	font-weight: 300 !important;
	text-align: left !important;
}
/*.form-group label.control-label {
	font-weight: 400 !important;
}*/
span.label {
	font-weight: 400 !important;
	margin-bottom: 2px !important;
}
span.label.red {
	background-color: red;
}
span.label.green {
	background-color: green;
}

/*====================================================================*/
/* CHECKBOX */
/*====================================================================*/
label.checkbox-inline {
	margin-left: 0px !important;
	margin-right: 5px !important;
}

/*====================================================================*/
/* QUESTION MARK */
/*====================================================================*/
span.hint {
   font-size: 12px;
   color: #505050;
   font-style: italic;
}


/*====================================================================*/
/* RESULTS */
/*====================================================================*/
.resultsContainer span.noResults, span.loading {
	margin: 20px 0px;
}
.resultsContainer .loading{
  	position: relative;
  	height: 100px;
  	width: 100%;
}
/*.resultsContainer a.load-more{
  	text-align: center;
  	background: #eee;
  	border: 1px solid #ddd;
  	display: block;
  	padding: 10px;
	text-decoration: none;
}*/
a.load-more{
  	text-align: center;
  	background: #eee;
  	border: 1px solid #ddd;
  	display: block;
  	padding: 10px;
	text-decoration: none;
}

.resultsCounter {
	/*border: 1px solid #33CCFF;*/
	/*background: url('/bg_grey.jpg') repeat scroll center top transparent;*/
	background: url('/textures/cartographer.png') repeat scroll center top transparent;
	/*background: url('/textures/dark-stripes-light.png') repeat scroll center top transparent;*/
	background-color: #1f1e1e;
	/*background-color: white;*/
   /*background-repeat: repeat-y;
   background-repeat: repeat-x;*/
   height: auto;
	padding: 5px 20px 10px 20px;
	/*color: #456;*/
	color: white;
	font-family: 'Oswald', sans-serif;
}

/* SMALL */
.resultsCounter i.small {
	font-size: 20px;
}
.resultsCounter .results.small {
	font-size: 14px;
	font-weight: 700;
}
.resultsCounter .allOver.small {
	font-size: 12px;
	font-weight: 400;
}

/* LARGE */
.resultsCounter i.large {
	font-size: 24px;
}
.resultsCounter .results.large {
	font-size: 18px;
	font-weight: 700;
}
.resultsCounter .allOver.large {
	font-size: 14px;
	font-weight: 400;
}


/*====================================================================*/
/* NAVBARS */
/*====================================================================*/

/* TOP NAV BAR */
.navbar-fixed-top .active a {
	color: #0099CC !important;
}
.navbar-fixed-top table.navbar-fixed-top-table {
	width: 100%;
}
/*
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-text {
	color: white;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-icon {
	color: white;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-text.active {
	color: #003366;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-icon.active {
	color: #003366;
}*/
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-text.capitalize {
	text-transform: capitalize;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-text.white {
	color: white;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-icon.white {
	color: white;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-text.white.active {
	color: #003366;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-icon.white.active {
	color: #003366;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-text.grey {
	color: #777;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-icon.grey {
	color: #777;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-text.grey.active {
	color: black;
}
.navbar-fixed-top table.navbar-fixed-top-table a .navbar-item-icon.grey.active {
	color: black;
}
table.navbar-fixed-top-table > tr {
	text-align: center;
}
.navbar-fixed-top a.navbar-item-wrapper {
	text-decoration: none;
}
.navbar-fixed-top .row.navbar-item-container {
	padding-top: 7px;
}
.navbar-fixed-top .row.navbar-item-container > .navbar-item-icon-container {
	padding: 0px;
}
.navbar-fixed-top i.navbar-item-icon {
	font-size: 23px;
	line-height: 1;
}
.navbar-fixed-top .row.navbar-item-container > .navbar-item-text-container {
	padding: 0px;
}
.navbar-fixed-top span.navbar-item-text {
	font-size: 9px;
	vertical-align: text-top;
	font-weight: 400;
}
.navbar-fixed-top .nav-sections-TABLET .navbar-nav > li > a {
	padding: 5px 0px !important;
}


/* BOTTOM NAV BAR */
.navbar-fixed-bottom table.navbar-fixed-bottom-table .active a {
	color: #0099CC !important;
}
.navbar-fixed-bottom .highlight a {
	color: #F33 !important;
}
.navbar-fixed-bottom a {
	color: #909090;
}
.navbar-fixed-bottom table.navbar-fixed-bottom-table {
	width: 100%;
}
table.navbar-fixed-bottom-table > tr {
	text-align: center;
}
.navbar-fixed-bottom a.navbar-item-wrapper {
	text-decoration: none;
}
.navbar-fixed-bottom .row.navbar-item-container {
	padding-top: 3px;
}
.navbar-fixed-bottom .row.navbar-item-container > .navbar-item-icon-container {
	padding: 0px;
}
i.navbar-item-icon {
	font-size: 25px;
	line-height: 1;
}
.navbar-fixed-bottom .row.navbar-item-container > .navbar-item-text-container {
	padding: 0px;
}
span.navbar-item-text {
	font-size: 11px;
	vertical-align: text-top;
	font-weight: 400;
}


.carousel-control {
	background-image: none !important;
	text-shadow: none !important;
	color: #909090;
}
.carousel-control:hover, .carousel-control:focus {
   color: #909090;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
   right: 20px !important;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-left {
   left: 20px !important;
}

/*====================================================================*/
/* IMAGES */
/*====================================================================*/
.googleMapsFullWidthFullHeight {
	height: 100%;
	width: 100%;
}
.googleMapsInner {
	height: 250px;
	width: 100%;
	border: 1px solid silver;
}

/*====================================================================*/
/* IMAGES */
/*====================================================================*/
.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.inline-block {
	display: inline-block;
}
.img-inline {
	display: inline;
}
.avatar-small-inline {
	display: inline-block;
  	vertical-align: top;
	margin-top: -3px;
}
.avatar-medium-inline {
	display: inline-block;
	height: 50px;
  	width: 50px;
  	vertical-align: middle;
}
.avatar-large-inline {
	display: inline-block;
	height: 80px;
  	width: 80px;
  	vertical-align: middle;
}
.avatar-xlarge {
	height: 210px;
  	width: 210px;
  	vertical-align: middle;
	/*margin-left: 15px;*/
}
.avatar-large.avatar-xxlarge .avatar-initials {
   font-size: 80px;
   line-height: 220px;
}
.avatar-xxlarge {
	height: 230px;
  	width: 230px;
  	vertical-align: middle;
}
.navbar-btn {
	margin: 0px !important;
}

/*====================================================================*/
/* NAVBAR */
/*====================================================================*/
/*@media (max-width: 1055px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}*/
/*@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
.navbar-collapse.collapse.in { display: block!important; }
.navbar-collapse.collapse.in { display: block!important; margin-top: 0px; }
}*/
/*====================================================================*/
/* WRAPPERS */
/*====================================================================*/
a.anchorWrap {
	display: block;
	text-decoration: none;
}
span.spanWrap {
	display: block;
}


/*====================================================================*/
/* SPEECH BUBBLE */
/*====================================================================*/
/*.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;

}

.bubble::after {
    background-color: #F2F2F2;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 20px;
    left: -10px;
    position: relative;
    top: 20px;
    transform: rotate( 45deg );
    width:  20px;
}*/

/*.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 20px;

    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: right;
    margin-top: 6px;
}

.me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}*/

/*====================================================================*/
/* SCREEN CONFIGURATION */
/*====================================================================*/
.window {
	top: 58px;
	position: fixed;
}
.window-no-header {
	position: fixed;
}
.window-fixedFooter {
	bottom: 54px;
}
.window-hidden {
   display: none;
}
.mobileMap {
   /*position: fixed;
   top: 51px;*/
   left: 0px;
	right: 0px;
	/*bottom: 21%;*/
	bottom: 120px;
}
.mobileSliders {
   left: 0px;
	right: 0px;
	height: 150px;
	border: 1px solid silver;
	padding: 15px 10px;
}
.mobileFullMap {
   left: 0px;
	right: 0px;
	bottom: 0px;
}
.window-fullWidth {
   left: 0px;
	right: 0px;
   overflow-x: hidden;
}
.window-fullHeight {
   left: 0px;
   bottom: 0px;
   overflow-y: auto;
}
.window-fullHeight-withFooter {
   left: 0px;
   bottom: 54px;
   overflow-y: auto;
}
.window-sharedWidth-leftSide {
   left: 0px;
   bottom: 0px;
   overflow-y: scroll;
	overflow-x: hidden;
}
.window-sharedWidth-rightSide {
   right: 0px;
	bottom: 0px;
	overflow-x: hidden;
}
.sharedWindow-50x50-left {
   width: 50%;
}
.sharedWindow-50x50-right {
   left: 50%;
}
.sharedWindow-60x40-left {
   width: 60%;
}
.sharedWindow-60x40-right {
   left: 60%;
}
.sharedWindow-40x60-left {
   width: 40%;
}
.sharedWindow-40x60-right {
   left: 40%;
}
.sharedWindow-120px-left {
   width: 120px;
	overflow: hidden !important;
}
.sharedWindow-120px-right {
   left: 120px;
	border-left: 1px solid silver;
}
.sky-background {
	background: -webkit-linear-gradient(#AADFEB, white);
	background: -o-linear-gradient(white, #AADFEB);
	background: -moz-linear-gradient(white, #AADFEB);
	background: linear-gradient(white, #AADFEB);
}

/*====================================================================*/
/* PADDINGS AND MARGINS */
/*====================================================================*/
.withPadding {
	padding: 20px;
}
.withLeftPadding {
	padding-left: 20px;
}
.withRightPadding {
	padding-right: 20px;
}
.withSidePadding {
	padding-right: 20px;
	padding-left: 20px;
}
.withBottomPadding {
	padding-bottom: 20px;
}
.withBottomMargin {
	margin-bottom: 20px !important;
}

/*====================================================================*/
/* FOR PULLING-DOWN THE FOOTER */
/*====================================================================*/
.page-wrap {
   min-height: 100%;
   /* equal to footer height */
   margin-bottom: -220px; /*-330px;*/
}
.page-wrap:after {
   content: "";
   display: block;
	height: 220px; /*330px;*/
}


/*====================================================================*/
/* SECTION TITLE */
/*====================================================================*/
.section-title {
	display: inline-block;
	/*font-family: 'Oswald', sans-serif;*/
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Poiret One', cursive;
	font-family: 'Anton', sans-serif;
	font-family: 'BenchNine', sans-serif;
	font-family: 'Squada One', cursive;
	font-family: 'Voltaire', sans-serif;
	font-family: 'Bubblegum Sans', cursive;
	font-family: 'Neucha', cursive;
	font-family: 'Just Another Hand', cursive;
	font-family: 'Six Caps', sans-serif;
	font-family: 'The Girl Next Door', cursive;
	font-family: 'Englebert', sans-serif;*/
	font-size: 40px;
	color: #404040;
	color: #303030;
	line-height: 1.3em;
	font-size: 32px;
	color: #B21414;
	/*font-weight: 400;*/
	color: #08C;
}


/*====================================================================*/
/* BUTTONS */
/*====================================================================*/
a.custom-btn, button.custom-btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 2px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: white;
	text-decoration: none;
}
a.custom-btn.big, button.custom-btn.big {
	display: block;
	margin-bottom: 10px;
}
a.custom-btn.small, button.custom-btn.small {
	display: inline-block;
	margin-bottom: 15px;
}
a.custom-btn.blue:hover, button.custom-btn.blue:hover {
	background: #3366FF;
}
a.custom-btn.red, button.custom-btn.red {
	background: #FF3366;
}
a.custom-btn.red:hover, button.custom-btn.red:hover {
	background: #FF0000;
}
a.custom-btn.blue, button.custom-btn.blue {
	background: #39F;
}
a.custom-btn.silver, button.custom-btn.silver {
	background: silver;
}

/* MOBILE */
a.custom-btn-MOBILE, button.custom-btn-MOBILE {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	/*font-size: 14px;
	font-weight: normal;*/

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;

	/*font-weight: bold;*/
	/*line-height: 1.42857;*/
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: white;
	text-decoration: none;
}
a.custom-btn-MOBILE.big, button.custom-btn-MOBILE.big {
	display: block;
	margin: 15px 0px;
}
a.custom-btn-MOBILE.small, button.custom-btn-MOBILE.small {
	display: inline-block;
	margin-bottom: 15px;
}
a.custom-btn-MOBILE.blue:hover, button.custom-btn-MOBILE.blue:hover {
	background: #3366FF;
}
a.custom-btn-MOBILE.red, button.custom-btn-MOBILE.red {
	background: #F33;
}
a.custom-btn-MOBILE.blue, button.custom-btn-MOBILE.blue {
	background: #39F;
}

/* BOOTSTRAP BTN */
button.btn, a.btn {
	margin-bottom: 10px !important;
	margin-right: 10px !important;
}

/*====================================================================*/
/* DATEPICKER */
/*====================================================================*/
input.datepicker {
	font-size: 18px;
	height: 46px;
	padding: 10px 16px;
}


/*====================================================================*/
/* SELECT2 */
/*====================================================================*/
input.select2-input {
	font-size: 18px;
	height: 46px;
	padding: 10px 16px;
}
li.select2-search-choice {
	margin-top: 7px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
li.select2-search-choice .select2-search-choice-close {
	margin-top: 6px !important;
}

/*====================================================================*/
/* SECTION'S HEADER */
/*====================================================================*/



/*====================================================================*/
/* MANDATORY FIELDS */
/*====================================================================*/
.mandatoryFields {
	color: silver;
	font-size: 13px;
}


/*====================================================================*/
/* MAP TITLE */
/*====================================================================*/
.mapTitle {
	color: #456;
	font-weight: 700;
	margin-left: 10px;
	margin-right: 10px;
}


/*====================================================================*/
/* CLICKABLE */
/*====================================================================*/
.clickable {
	cursor: pointer;
}

/*====================================================================*/
/* NO RESULTS */
/*====================================================================*/
.no-results {
	margin-top: 20px;
	padding-bottom: 20px;
}


/*====================================================================*/
/* HIDDEN */
/*====================================================================*/
.hidden {
	display: none;
}


/*====================================================================*/
/* HIGHLIGHT */
/*====================================================================*/
.highlight {
	color: #08C;
}


/*====================================================================*/
/* COLOR CONTAINERS */
/*====================================================================*/
.greyContainer {
	margin-bottom: 20px;
	background-color: #E9EBEF;
	border: 1px solid #E0E2E6;
	padding: 15px;
}
.whiteContainer {
	margin-bottom: 20px;
	background-color: white;
	/*border: 1px solid #E0E2E6;*/
	padding: 15px;
}


/*====================================================================*/
/* BORDERS */
/*====================================================================*/
.withTopBorder {
	border-top: 1px dotted silver;
	padding-top: 10px;
}
.withSideBorders {
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
}
.withLeftBorder {
	border-left: 1px solid #EEE;
}
.withRightBorder {
	border-right: 1px solid #EEE;
}


/*====================================================================*/
/* PRE - LINE BREAKS */
/*====================================================================*/
pre {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  padding: 0px;
  margin: 0px;
  word-break: normal;
  white-space: pre-wrap;
	text-align: left;
}
