<!--=================================================================-->
<!-- NOTIFICATIONS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> notifications type="mobile/desktop"}} -->
<!-- REQUIRED SUBS: template-level -->
<!-- COMMENTS: device-type-dispatcher -->
<template name="notifications">
	{{#if currentUser}}
		{{#if mobile}}
			<div class="window window-fullWidth window-fullHeight">
				<div class="row">
					<div class="col-xs-12">
						{{#if Template.subscriptionsReady}}
					   	{{#each notifications}}
								{{> notifItem notification=this}}
					   	{{else}}
								<div class="withPadding">
									{{_ "You_Dont_Have_Notifications"}}
								</div>
					   	{{/each}}
						{{else}}
							<div class="withPadding">
								{{_ "Loading"}}
							</div>
						{{/if}}
					</div>
				</div>
			</div>
		{{else}}
	   	{{#if desktop}}
				{{#if Template.subscriptionsReady}}
					{{#each notifications}}
						<li>{{> notifItem notification=this}}</li>
					{{else}}
						<li class="notifDropdownDefault">{{_ "You_Dont_Have_Notifications"}}</li>
					{{/each}}
				{{else}}
					<div class="withPadding">
						{{_ "Loading"}}
					</div>
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}
</template>
