<template name="headerTOS">
  <p>
    By continuing to use the website, you indicate that you have
    read and agree to our
    <a href="/terms">
      Terms of Service
    </a>
    and
    <a href="privacy">
      Privacy Policy
    </a>.
  </p>
</template>

<!--=================================================================-->
<!-- HEADER SIGN IN BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> headerSignInButton type="desktop/mobile" align="text-right withRightPadding"}} -->
<!-- REQUIRED SUBS: template-level -->
<!-- COMMENTS: device type-dispatcher -->
<template name="headerSignInButton">
   {{#unless currentUser}}
      {{#if loading}}
         {{> spinner}}
      {{else}}
         {{#if mobile}}
            <a class="navbar-item-wrapper dropdown-toggle" id="signin" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
               <div class="row navbar-item-container {{this.align}}">
                  <div class="navbar-item-icon-container col-xs-12">
                     <i class="navbar-item-icon fa fa-sign-in white"></i>
                  </div>
                  <div class="navbar-item-text-container col-xs-12">
                     <span class="navbar-item-text text-uppercase white">{{_ "Sign_In"}}</span>
                  </div>
               </div>
            </a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="signin">
               <li>
                  <div class="custom-login-buttons">
                     <div id="login-buttons">
                        <div class="service-login-buttons">
                           {{#each services}}
                              {{> _loginButtonsLoggedOutSingleLoginButton}} <!-- See accounts-ui-unstyled github project -->
                           {{/each}}
                           {{> headerTOS}}
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         {{else}}
            {{#if tablet}}
               <li> <!-- leave li tag here, otherwise the spinner miss behaves -->
                  <a class="/*navbar-item-wrapper*/ dropdown-toggle" id="signin" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                     <div class="row /*navbar-item-container*/">
                        <div class="navbar-item-icon-container col-xs-12">
                           <i class="navbar-item-icon fa fa-sign-in grey"></i>
                        </div>
                        <div class="navbar-item-text-container col-xs-12">
                           <span class="navbar-item-text text-uppercase grey">{{_ "Sign_In"}}</span>
                        </div>
                     </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="signin">
                     <li>
                        <div class="custom-login-buttons">
                           <div id="login-buttons">
                              <div class="service-login-buttons">
                                 {{#each services}}
                                    {{> _loginButtonsLoggedOutSingleLoginButton}} <!-- See accounts-ui-unstyled github project -->
                                 {{/each}}
                                 {{> headerTOS}}
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </li>
            {{else}}
               {{#if desktop}}
                  <li> <!-- leave li tag here, otherwise the spinner miss behaves -->
                     <a href="#" class="dropdown-toggle navbar-btn" id="signin" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="text-uppercase">{{_ "Sign_In"}}</span>
                     </a>
                     <ul class="dropdown-menu" role="menu" aria-labelledby="signin">
                        <li>
                           <div class="custom-login-buttons">
                              <div id="login-buttons">
                                 <div class="service-login-buttons">
                                    {{#each services}}
                                       {{> _loginButtonsLoggedOutSingleLoginButton}} <!-- See accounts-ui-unstyled github project -->
                                    {{/each}}
                                    {{> headerTOS}}
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
               {{/if}}
            {{/if}}
         {{/if}}
      {{/if}}
   {{/unless}}
</template>
