.custom-login-buttons {
   /*margin-top: 20px;
   margin-bottom: 50px;*/
   margin: 10px;
   width: 220px;
}

.custom-login-buttons #login-buttons {
   display: block;

    margin-left: auto;
    margin-right: auto;
}

.custom-login-buttons .login-text-and-button {
   margin: 8px 5px;
   font-size: 16px;
}
/*.custom-login {
   margin-top: 70px;
}
.custom-login #login-dropdown-list {
    position: relative;
    top: -1px;
    left: -1px;
}
.custom-login-buttons .accounts-dialog {
    border: none;
    width: 100%;
    font-size: 26px;
    color: #333;

    display: block;

    margin-left: auto;
    margin-right: auto;
    float: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.custom-login #login-buttons .login-close-text {
   display: none;
}




.custom-login a.dropdown-toggle {
  display: none;
}

#login-screen #login-dropdown-list .dropdown-toggle, .user-display-name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

*/
.custom-login-buttons .login-text-and-button {
      /*display: block;

       margin-left: auto;
       margin-right: auto;
      width: 100%;*/
}
/*

#login_screen #forgot-password-link {
    width: 49%;
    white-space: normal;
}

#login_screen #signup-link {
    width: 49%;
    white-space: normal;
    text-align: right;
}


#login_screen .dropdown-menu {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    min-width: 0px;
    width: 100%;
    overflow: auto;
}

#login_screen #login-dropdown-list {
    display: block;
}

#login_screen a.dropdown-toggle {
    display: none;
}*/
