<!--=================================================================-->
<!-- PROFILE NAV TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{profileNav}} -->
<!-- REQUIRED SUBS: '' -->
<template name="profileNav">
   <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <table class="navbar-fixed-bottom-table">
         <tr>
            {{> navBarItem section="profile" text="Profile" icon="ion-ios-person" active=profile width="33%"}}
            {{> navBarItem section="upcoming" text="Upcoming" icon="ion-bookmark" active=upcoming width="34%"}}
            {{> navBarItem section="past" text="Past" icon="ion-checkmark" active=past width="33%"}}
         </tr>
      </table>
   </nav>
</template>
