/*====================================================================*/
/* FOOTER */
/*====================================================================*/
.footer {
	font-size: 13px;
	color: black;
	/*background: url("/bg_grey2.jpg") repeat scroll 50% 0% transparent;*/
	background: url("/bg_grass7.png") repeat scroll 50% 65% transparent;
	height: 220px;
	padding-top: 20px !important;
}
.footer span i {
	font-size: 5px;
	margin: 5px;
}
.footer a {
	color: black;
}

/*
.secondFooter {
	font-size: 13px;
	color: black;

	background-color: #663300;
	background: -webkit-linear-gradient(#663300, #660000);
	background: -o-linear-gradient(#660000, #663300);
	background: -moz-linear-gradient(#660000, #663300);
	background: linear-gradient(#660000, #663300);

  background: -webkit-repeating-linear-gradient(#993300, #660000 10%, #993300 20%);

  background: -o-repeating-linear-gradient(#993300, #660000 10%, #993300 20%);

  background: -moz-repeating-linear-gradient(#993300, #660000 10%, #993300 20%);

  background: repeating-linear-gradient(#993300, #660000 10%, #993300 20%);
	height: 150px;
	padding-top: 30px !important;
}
.secondFooter span i {
	font-size: 5px;
	margin: 5px;
}
.secondFooter a, p {
	color: white;
}*/
