<!--=================================================================-->
<!-- FOOTER TEMPLATE -->
<!--=================================================================-->
<template name="footer">
	<footer class="footer withPadding text-center">
		{{> footerLegal}}
		{{> footerCopyright}}
		{{> footerMadeWith}}
	</footer>
	<!--{{> secondFooter}}-->
</template>


<!--=================================================================-->
<!-- COPYRIGHT TEMPLATE -->
<!--=================================================================-->
<template name="footerCopyright">
	<p>Copyright &copy; 2018 Fulbacho. {{_ "All_Rights_Reserved"}}.</p>
</template>


<!--=================================================================-->
<!-- LEGAL CONTENT TEMPLATE -->
<!--=================================================================-->
<template name="footerLegal">
	<p>
		<span><a class="seeFAQ" href="#">{{_ "FAQs"}}</a></span>
		<span><i class="fa fa-circle"></i></span>
		<span><a class="seeWhoWeAre" href="#">{{_ "Who_Are_We"}}</a></span>
		<span><i class="fa fa-circle"></i></span>
		<span><a class="seeContactUs" href="#">{{_ "Contact_Us"}}</a></span>
		<span><i class="fa fa-circle"></i></span>
		<span><a class="seeTerms" href="/terms">{{_ "Terms_And_Conditions"}}</a></span>
		<span><i class="fa fa-circle"></i></span>
		<span><a class="seeTerms" href="/privacy">{{_ "Privacy Policy"}}</a></span>
	</p>
</template>


<!--=================================================================-->
<!-- MADE WITH TEMPLATE -->
<!--=================================================================-->
<template name="footerMadeWith">
	<p>{{_ "Made_With"}}&nbsp;<i class="fa fa-heart" style="color: #F33;"></i>&nbsp;{{_ "In_Enschede"}}</p>
</template>


<!--=================================================================-->
<!-- SECOND FOOTER TEMPLATE -->
<!--=================================================================-->
<!--<template name="secondFooter">
	<footer class="secondFooter withPadding text-center">
		{{> footerLegal}}
		{{> footerCopyright}}
		{{> footerMadeWith}}
	</footer>
</template>-->
