<!--=================================================================-->
<!-- ACTIVITIES RESULTS LIST TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activitiesResultsList mapBounds="mapBoundsObj"}}, where mapBounds = {bottomLeft: [lng, lat], topRight: [lng, lat]} -->
<!-- REQUIRED SUBS: template-level -->
<template name="activitiesResultsList">
   <div class="resultsContainer">
      {{#each matchesArray}}
         {{> activityCard match=this.match type=cardType border=this.border}}
      {{else}}
         {{#if Template.subscriptionsReady}}
            <br>
            <span class="noResults">{{_ "No_Activities_Found_In_This_Region"}}</span>
         {{/if}}
      {{/each}}
      {{#if Template.subscriptionsReady}}
		   {{#if hasMoreMatches}}
		      <a class="load-more" href="#">{{_ "Load_More"}}</a>
		   {{/if}}
		{{else}}
         <br>
			<span class="loading">{{_ "Loading"}}</span>
		{{/if}}
      {{#visibleXs}}
         {{> adCard type=cardType}}
      {{/visibleXs}}
   </div>
</template>
