<!--=================================================================-->
<!-- REPEAT FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> repeatFormComponent [repeat="Boolean"]}} -->
<!-- REQUIRED SUBS: '' -->
<template name="repeatFormComponent">
	<div class="form-group">		
		<input id="repeat" name="repeat" type="checkbox" value="checked">
		<label class="control-label" for="repeat">{{_ "Repeat_Activity_Every_week"}}</label>
	</div>
</template>
