<!--=================================================================-->
<!-- FIELD TYPE FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> fieldTypeFormComponent label="String" fieldType="String"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="fieldTypeFormComponent">
   <div class="form-group">
      <label for="field_type">{{this.label}} {{_ "Type_Of_Surface_Slash_Terrain"}}</label>
      <input class="form-control input-lg" name="field_type" id="field_type" type="text" maxlength="70" placeholder="{{_ 'Type_Of_Surface_Slash_Terrain_Example'}}" autocomplete="off">
   </div>
</template>
