<!--=================================================================-->
<!-- EMAIL NOTIFICATIONS CURRENT EMAIL ADDRESS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> emailNotifCurAddress}} -->
<!-- REQUIRED SUBS: template-level -->
<!-- COMMENTS: displays and allows to change delivery email address -->
<template name="emailNotifCurAddress">
	<div class="row">
		<div class="col-xs-12">
			{{> subSectionTitle text="Email_Address"}}
			{{#if Template.subscriptionsReady}}
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-12 control-label">
							{{#if emailIsSet}}
								{{_ "The_Notifications_Will_Be_Sent_To_Address_Below"}}
								{{_ "Explanations_To_Change_Email"}}
							{{else}}
								{{_ "Email_Is_Not_set"}}
							{{/if}}
						</label>
						<div class="col-xs-12">
							<input class="form-control input-lg" type="text" value="{{primary}}" placeholder="{{_ 'Email_Example'}}">
						</div>
					</div>
			      <button class="btn btn-primary" type="submit"><i class="ion-android-mail"></i> {{_ "Verify_Email"}}</button>
					{{> loading status=loadingStatus}}
				</form>
			{{else}}
				{{_ "Loading"}}
			{{/if}}
		</div>
	</div>
</template>
