<!--=================================================================-->
<!-- DESCRIPTION FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> descriptionFormComponent label="String" [description="String"]}} -->
<!-- REQUIRED SUBS: '' -->
<template name="descriptionFormComponent">
   <div class="form-group">
      <label for="description">{{this.label}} {{_ "Description_Slash_Observations"}}</label>
      <textarea class="form-control input-lg" name="description" id="description" type="text" rows="7" maxlength="5000" placeholder="{{_ 'Full_Description_Of_The_Activity_Slash_Observations'}}" style="min-width:100%; max-width:100%;" autocomplete="off"></textarea>
   </div>
</template>
