<!--=================================================================-->
<!-- LANGUAGE CARD TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> langCard langName="Espa&ntilde;ol/English" lang="es/en" flag="img source"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="langCard">
	<a class="anchorWrap" href="#">
		<span class="spanWrap">
         <div class="langCard {{active}}">
            <span>
               <img src="{{this.flag}}">&nbsp;&nbsp;{{{this.langName}}}
            </span>
         </div>
		</span>
	</a>
</template>
