/*====================================================================*/
/* LANG CARD */
/*====================================================================*/
/* MOBILE */
.langCard {
	padding: 20px 20px;
	font-size: 18px;
	border-bottom: 1px solid #EEE;
}
.langCard.active {
	background-color: #E9EBEF;
}
