<!--=================================================================-->
<!-- TITLE FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> titleFormComponent label="String" [title="String"]}} -->
<!-- REQUIRED SUBS: '' -->
<template name="titleFormComponent">
   <div class="form-group">
      <label for="title">{{this.label}} {{_ "Title"}} ({{_ "Max_200_Chars"}})</label>
      <textarea class="form-control input-lg" name="title" id="title" type="text" rows="4" maxlength="200" placeholder="{{_ 'Brief_Description_Of_The_Activity'}}" style="min-width:100%; max-width:100%;" autocomplete="off" required></textarea>
   </div>
</template>
