<!--=================================================================-->
<!-- EDIT ACTIVITY PARTICIPANTS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editActivityParticipants matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<!-- COMMENTS: decides whether or not to show waiting list + manage match players in/out -->
<template name="editActivityParticipants">
	<form>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				{{> subSectionTitle text="Participants_Left_Column"}}
				{{> select2 elemDOM="people_in_team_A" group="peopleIn" team="A" preLabel=" " label="Registered_Users" matchId=this.matchId}}
				{{> select2 elemDOM="friends_of_team_A" group="friendsOf" team="A" preLabel=" " label="List_Of_Friends" matchId=this.matchId}}
				{{> select2 elemDOM="waiting_list_team_A" group="waitingList" team="A" preLabel=" " label="Waiting_List" class=wlTeamAHidden matchId=this.matchId}}
			</div>
			<div class="col-sm-12 col-md-6">
				{{> subSectionTitle text="Participants_Right_Column"}}
				{{> select2 elemDOM="people_in_team_B" group="peopleIn" team="B" preLabel=" " label="Registered_Users" matchId=this.matchId}}
				{{> select2 elemDOM="friends_of_team_B" group="friendsOf" team="B" preLabel=" " label="List_Of_Friends" matchId=this.matchId}}
				{{> select2 elemDOM="waiting_list_team_B" group="waitingList" team="B" preLabel=" " label="Waiting_List" class=wlTeamBHidden matchId=this.matchId}}
			</div>
		</div>
		<button class="btn btn-success" type="submit" id="saveEdit"><i class="ion-checkmark"></i> {{_ "Save"}}</button>
		{{> loading status=loadingStatus}}
		<button class="btn btn-danger" type="button" id="cancelEdit"><i class="ion-close"></i> {{_ "Cancel"}}</button>
	</form>	
</template>
