<!--=================================================================-->
<!-- PROFILE MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileMOBILE userId="userId"}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="profileMOBILE">
   <div class="window window-fullHeight-withFooter window-fullWidth window-fixedFooter">
      <div class="container-fluid withPadding">
         {{#if profile}}
				{{> avatar userId=this.userId shape="circle" size="large" bgColor=randomBgColor txtColor="white" class="img-center"}}  <!-- requires user.profile.name + users services subs -->
				<br>
				{{> profileData userId=this.userId}}
				{{> profileButtons userId=this.userId}}
         {{else}}
            {{> profileActivities userId=this.userId}}
         {{/if}}
	   </div>
		<!--{{> footer}}-->
	</div>
	{{> profileNav}}
</template>
