<!--=================================================================-->
<!-- NEW ACTIVITY MAP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> newActivityMap}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: device-type-dispatcher -->
<template name="newActivityMap">
   {{#visibleXs}}
      <div class="form-group">
   		<label for="">3. {{{_ "Locate_The_Activity_On_The_Map_Explanation"}}}</label>
   		{{> coordsFormComponent}}
         <div id="googleMapMarker" class="googleMapsInner"></div>
      </div>
   {{/visibleXs}}
   {{#hiddenXs}}
      {{> coordsFormComponent}}
      <div id="googleMapMarker" class="googleMapsFullWidthFullHeight"></div>
   {{/hiddenXs}}
</template>
