<!--=================================================================-->
<!-- USER AVATAR TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> userAvatar data="dataObj"}} where dataObj = {userId, addedAt, team, [name], matchId, user, type} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="userAvatar">
	<div class="playerAvatar">
		{{#if isFriend}}
			{{#if friendNameIsSet}}
				{{> avatar user=this.data.user size='large' shape='circle' class='img-center' bgColor=randomBgColor txtColor="white"}}
				{{ this.data.name}}
			{{else}}
				{{> avatar user=this.data.user size='large' shape='circle' class='img-center' bgColor=randomBgColor txtColor="white"}}
				{{_ 'Friend_Of'}}&nbsp;{{this.data.user.profile.name}}
			{{/if}}
		{{else}}
			{{> avatar user=this.data.user size='large' shape='circle' class='img-center' bgColor=randomBgColor txtColor="white"}}
			{{this.data.user.profile.name}}
		{{/if}}
	</div>
</template>
