<!--=================================================================-->
<!-- WHO WE ARE TEMPLATE -->
<!--=================================================================-->
<template name="whoWeAre">
	{{#if mobile}}
		<div class="window window-fullWidth window-fullHeight">
			<div class="withPadding">
			   <div class="row">
			      <div class="col-xs-12">
			         {{> fedeRodes}}
			      </div>
				</div>
				<hr>
				<div class="row">
			      <div class="col-xs-12">
			         {{> ceciLaborde}}
			      </div>
				</div>
				<hr>
				<div class="row">
			      <div class="col-xs-12">
			         {{> contributors}}
			      </div>
				</div>
			</div>
		</div>
	{{else}}
		{{#if desktop}}
			{{> sectionTitle text="Who_Are_We"}}
		   <div class="row">
		      <div class="col-lg-6 col-sm-12">
		         {{> fedeRodes}}
		      </div>
		      <div class="col-lg-6 col-sm-12">
		         {{> ceciLaborde}}
		      </div>
		   </div>
			<hr>
			<div class="row">
			   <div class="col-lg-12">
			      {{> contributors}}
			   </div>
			</div>
		{{/if}}
	{{/if}}
</template>


<!--=================================================================-->
<!-- FEDE RODES TEMPLATE -->
<!--=================================================================-->
<template name="fedeRodes">
	{{> subSectionTitle text="Federico Rodes" class="text-center"}}
	<img class="img-center" src="/whoWeAre/fede.gif" height="200px;" width="200px;">
   <div class="text-center" style="margin-top: 10px;">
      {{_ "Fede_Line_One"}}
      {{_ "Fede_Line_Two"}}
      {{_ "Fede_Line_Three"}}
		<a href="https://twitter.com/fede_rodes" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://www.linkedin.com/in/federico-rodes-4b2602113" target="_blank"><i class="fa fa-linkedin-square"></i></a>
   </div>
</template>


<!--=================================================================-->
<!-- CECI LABORDE TEMPLATE -->
<!--=================================================================-->
<template name="ceciLaborde">
	{{> subSectionTitle text="Cecilia Laborde" class="text-center"}}
	<img class="img-center" src="/whoWeAre/ceci.gif" height="200px;" width="200px;">
   <div class="text-center" style="margin-top: 10px;">
      {{_ "Ceci_Line_One"}}
      {{_ "Ceci_Line_Two"}}
      {{_ "Ceci_Line_Three"}}
   </div>
</template>


<!--=================================================================-->
<!-- CONTRIBUTORS TEMPLATE -->
<!--=================================================================-->
<template name="contributors">
	{{> subSectionTitle text="Contributors" class="text-center"}}
   <div class="text-center" style="margin: 10px 0px 20px 0px;">
      Frederic&nbsp;Wilms, Petr&nbsp;Detr, Jan&nbsp;Ne, Pim&nbsp;Meijer, Carmen&nbsp;Di&nbsp;Mario, Zizou&nbsp;De&nbsp;Zéwas, Berjan&nbsp;Westerdijk {{_ "And"}} Luis&nbsp;Mastrángelo.
   </div>
</template>
