<!--=================================================================-->
<!-- ACTIVITY TABLET TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityTABLET matchId="matchId"}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: subsection-dispatcher -->
<template name="activityTABLET">
	<div class="window window-fullWidth window-fullHeight">
		<div class="container-fluid page-wrap withPadding">
			{{> activityBreadCrumbs}}
			{{> activityTitle matchId=this.matchId}}
			<div class="row clearfix">
				<div class="col-sm-6">
					{{> activityTabs}}
					{{#if data}}
						{{> activityData matchId=this.matchId}}
					{{else}}
						{{#if comments}}
							{{> posts matchId=this.matchId}}
						{{else}}
							Unknown section!
						{{/if}}
					{{/if}}
				</div>
				<div class="col-sm-6 withLeftBorder">
					{{> activityTeams matchId=this.matchId}}
				</div>
			</div>
      </div>
		{{> footer}}
	</div>
</template>
