<!--=================================================================-->
<!-- ACTIVITIES NAVIGATION BAR TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activitiesNav}} -->
<!-- REQUIRED SUBS: '' -->
<template name="activitiesNav">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<!--<div class="container-fluid">-->
	      <table class="navbar-fixed-bottom-table">
	         <tr>
					{{> saveMapButton width="33%"}}
					{{> navBarNewActivity width="34%"}}
					{{> navBarSeeResults width="50%"}}
	         </tr>
	      </table>
	   <!--</div>-->
	</nav>
</template>
