/*====================================================================*/
/* CALENDAR */
/*====================================================================*/
.calendar {
	text-align: center;
}
/*.calendar-square {
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	border: 1px solid #D8D8D8;
	height: 145px;
	width: 115px;
}*/
.calendar-square {
	font-family: 'Slackey', cursive;
	font-weight: bold;
	/*border: 1px solid #D8D8D8; /*silver;*/
	height: 145px; /*145px;*/
	width: 135px; /*115px*/
}
.calendar-flat {
	font-weight: 400;
	width: 100%;
	height: 100%;
}


/*====================================================================*/
/* CALENDAR HEADER */
/*====================================================================*/
.calendar > .header {
	color: white;
}
/*.calendar-square > .header {
	font-size: 17px;
	padding: 2px 0px;
}*/
.calendar-square > .header {
	font-size: 15px;
	padding: 2px 0px;
}
.calendar-flat > .header {
	font-size: 18px;
}
.calendar > .red {
	background-color: #F33;
}
.calendar > .green {
	background-color: #33CC66;
}


/*====================================================================*/
/* CALENDAR BODY */
/*====================================================================*/
.calendar-square > .body {
	color: #456;
	border: 1px solid #E0E0E0;
	padding-bottom: 15px;
	background: url('/textures/notebook-dark.png') repeat scroll center top transparent;
	background-color: #F8F8F8; /*white;*/
	height: auto;
}
/*.resultsCounter {

	background: url('/textures/cartographer.png') repeat scroll center top transparent;
	background-color: #1f1e1e;
   background-repeat: repeat-y;
   background-repeat: repeat-x;
   height: auto;
	padding: 5px 20px 10px 20px;
	color: white;
	font-family: 'Oswald', sans-serif;
}*/
/*.calendar-body-dayNumber {
	font-size: 40px;
}*/
.calendar-body-dayNumber {
	font-size: 35px;
}
.calendar-body-monthName {
	font-size: 16px;
	text-transform: uppercase;
}
.calendar-body-time {
	font-size: 20px;
}
.calendar > .body  span {
	display: block;
}
