<!--=================================================================-->
<!-- CALENDAR TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> calendar type='square/flat' color='green/red' date='date' time='time' class="custom-class"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="calendar">
	{{#if square}}
		<div class="calendar calendar-square {{#if classIsSet}}{{this.class}}{{/if}}">
			<div class="header {{#if colorIsSet}}{{this.color}}{{/if}}">
				<span class="text-uppercase">{{formatDateDayName this.date}}</span>
			</div>
			<div class="body">
				<span class="calendar-body-dayNumber">{{formatDateDayNumber this.date}}</span>
				<span class="calendar-body-monthName">{{formatDateMonthName this.date}}</span>
				<span class="calendar-body-time">{{this.time}}h</span>
			</div>
		</div>
	{{else}}
		{{#if flat}}
			<div class="calendar calendar-flat {{#if classIsSet}}{{this.class}}{{/if}}">
				<div class="header {{#if colorIsSet}}{{this.color}}{{/if}}">
					<span class="text-uppercase">{{formatDateDayName this.date}}</span>&nbsp;
					<span>{{formatDateDayNumber this.date}}</span>&nbsp;
					<span class="text-uppercase">{{formatDateMonthName this.date}}</span>&nbsp;-&nbsp;
					<span>{{this.time}}h</span>
				</div>
			</div>
		{{else}}
			Unknown calendar type!
		{{/if}}
	{{/if}}
</template>
