<!--=================================================================-->
<!-- HOME TEMPLATE -->
<!--=================================================================-->
<!-- USAGE {{> home}} -->
<!-- REQUIRED SUBS: '' -->
<template name="home">
   <div id="video-container" class="window-no-header window-fullWidth window-fullHeight" style="top: 0px;">
      <div class="intro-header">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="intro-message">
                     <img alt="fulbacho.net" src="/logos/big_logo3.png" width="602">
                     <h2>{{_ "All_Your_Sports_In_One_Place"}}</h2>
                     <h3>{{_ "Play_Wherever_You_Go"}}</h3>
                     <hr class="intro-divider">
                     <ul class="list-inline intro-social-buttons">
                        <li>
                           <a href="{{pathFor 'activities'}}" class="btn btn-success btn-lg">
                              <i class="ion-location"></i>&nbsp;&nbsp;<span class="network-name">{{_ 'Activities'}}</span>
                           </a>
                        </li>
                        <li>
                           <a href="{{pathFor 'users'}}" class="btn btn-success btn-lg">
                              <i class="ion-ios-people"></i>&nbsp;&nbsp;<span class="network-name">{{_ 'Users'}}</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>
