/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
.intro-header {
   padding-top: 40px;
   text-align: center;
   color: #f8f8f8;
   /*background: url("/videos/video_low2.png") no-repeat scroll 50% 50% transparent;*/
   background-size: cover;
}
.intro-header h1, h2, h3, h4, h5, h6 {
   font-weight: 300;
   font-family: 'Source Sans Pro', sans-serif;
}

.intro-message {
   position: relative;
   padding-top: 10%;
}

.intro-message > h1 {
   margin: 0;
   text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
   font-size: 5em;
}
.intro-message > h2 {
   margin: 0;
   margin-top: 20px;
   text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
   font-size: 4em;
}

.intro-divider {
   width: 400px;
   border-top: 1px solid #f8f8f8;
   border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
   text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
   font-family: 'Shadows Into Light', cursive;
   font-size: 35px;
}

@media(max-width:767px) {
   .intro-message {
      padding-bottom: 0;
      /*padding-bottom: 15%;*/
      padding-top: 10%;
   }

   .intro-header {
      padding-top: 0px;
   }

   .intro-message > h1 {
      font-size: 3em;
   }

   ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
   }

   ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
   }

   .intro-divider {
      width: 100%;
   }
}

.network-name {
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 2px;
}


img.bg {
   /* Set rules to fill background */
   min-height: 100%;
   min-width: 1024px;

   /* Set up proportionate scaling */
   width: 100%;
   height: auto;

   /* Set up positioning */
   position: fixed;
   top: 0;
   left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
   img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
   }
}
