<!--=================================================================-->
<!-- PROFILE SPORTS TABLE COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileSportsTableComponent title="String" icon="iconClass" sports="[String]"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="profileSportsTableComponent">
   {{#visibleXs}}
		<tr title="{{_ this.title}}">
			<td><i class="{{this.icon}}"></i>&nbsp;&nbsp;
            {{#each this.sports}}
               <span class="label label-info">{{_ this}}</span>
            {{else}}
               <span>?</span>
            {{/each}}
         </td>
		</tr>
   {{/visibleXs}}
   {{#hiddenXs}}
		<tr title="{{_ this.title}}">
		   <td><i class="{{this.icon}}"></i></td>
         <td>
            {{#each this.sports}}
               <span class="label label-info">{{_ this}}</span>
            {{else}}
               <span>?</span>
            {{/each}}
         </td>
		</tr>
   {{/hiddenXs}}
</template>
