<!--=================================================================-->
<!-- HEADER MORE BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> headerMoreButton type="mobile/tablet/desktop"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="headerMoreButton">
   {{#if mobile}}
      <a class="navbar-item-wrapper" id="more" href="{{pathFor 'more'}}">
         <div class="row navbar-item-container">
            <div class="navbar-item-icon-container col-xs-12">
               <i class="navbar-item-icon ion-android-add-circle white"></i>
            </div>
            <div class="navbar-item-text-container col-xs-12">
               <span class="navbar-item-text text-uppercase white">{{_ "More"}}</span>
            </div>
         </div>
      </a>
   {{else}}
      {{#if tablet}}
         <a class="/*navbar-item-wrapper*/ dropdown-toggle" href="#" id="moreLabel" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="row /*navbar-item-container*/">
               <div class="navbar-item-icon-container col-xs-12">
                  <i class="navbar-item-icon ion-android-add-circle grey"></i>
               </div>
               <div class="navbar-item-text-container col-xs-12">
                  <span class="navbar-item-text text-uppercase grey">{{_ "More"}}</span>
               </div>
            </div>
         </a>
         <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="moreLabel">
            <li role="presentation" class="dropdown-header"><h4 class="notifDropdownTitle">{{_ "More"}}</h4></li>
            {{#if currentUser}}
               <li role="presentation" class="divider"></li>
         	   <li><a href="#" class="showSettings">{{_ "Email_Notifications"}}</a></li>
               <li role="presentation" class="divider"></li>
               <li>{{> headerLogOutButton type="desktop"}}</li>
            {{/if}}
         </ul>
      {{else}}
         {{#if desktop}}
            <a href="#" id="moreLabel" class="dropdown-toggle navbar-btn" data-toggle="dropdown" role="button" aria-expanded="false">
               <span class="text-uppercase">{{_ "More"}}</span>
            	<span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="moreLabel">
               <li role="presentation" class="dropdown-header"><h4 class="notifDropdownTitle">{{_ "More"}}</h4></li>
               {{#if currentUser}}
                  <li role="presentation" class="divider"></li>
               	<li><a href="#" class="showSettings">{{_ "Email_Notifications"}}</a></li>
                  <li role="presentation" class="divider"></li>
                  <li>{{> headerLogOutButton type="desktop"}}</li>
               {{/if}}
            </ul>
         {{/if}}
      {{/if}}
   {{/if}}
</template>
