<!--=================================================================-->
<!-- VERIFY EMAIL TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> verifyEmail userId="userId" token="token"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="verifyEmail">
	<div class="window window-fullWidth window-fullHeight">
		<div class="withPadding {{#unless isXs}}page-wrap{{/unless}}">
			<div class="verify-email">
            {{#if verifying}}
				  <span class="verify-email-verifying">{{{_ "Verifying"}}}<br><i class="ion-load-b"></i></span>
            {{else}}
               {{#if success}}
                  <span class="verify-email-success">{{{_ "Email_Verified_Successfully"}}}<br><i class="ion-thumbsup"></i></span>
               {{else}}
                  {{#if failed}}
                     <span class="verify-email-failed">{{{_ "Email_Verification_Failed"}}}<br><i class="ion-thumbsdown"></i></span>
                  {{else}}
                     {{#if error}}
                        <span class="verify-email-error">{{{_ "Unexpected_Error"}}}<br><i class="ion-alert-circled"></i></span>
                     {{else}}
                        Unknown option!
                     {{/if}}
                  {{/if}}
               {{/if}}
            {{/if}}
			</div>
		</div>
		{{#unless isXs}}
			{{> footer}}
		{{/unless}}
	</div>
</template>
