/* VERIFY EMAIL */
.verify-email {
   font-size: 30px;
   text-transform: uppercase;
   text-align: center;
   margin-top: 100px;
}


/* VERIFY EMAIL VERIFYING */
.verify-email .verify-email-verifying {
   color: blue;
}
.verify-email .verify-email-verifying .ion-load-b {
   font-size: 100px;
}


/* VERIFY EMAIL SUCCESS */
.verify-email .verify-email-success {
   color: green;
}
.verify-email .verify-email-success .ion-thumbsup {
   font-size: 100px;
}


/* VERIFY EMAIL FAILED */
.verify-email .verify-email-failed {
   color: red;
}
.verify-email .verify-email-failed .ion-thumbsdown {
   font-size: 100px;
}


/* VERIFY EMAIL ERROR */
.verify-email .verify-email-error {
   color: red;
}
.verify-email .verify-email-error .ion-alert-circled {
   font-size: 100px;
}
