<!--=================================================================-->
<!-- SIGN MY FRIEND IN BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> signMyFriendIn matchId='matchId' team='A/B'}} -->
<!-- REQUIRED SUBS: '' -->
<template name="signMyFriendIn">
	<div class="row">
		<div class="col-xs-12">
         <form class="form-horizontal">
            <div class="form-group">
               <div class="col-xs-12">
                  <input class="form-control input-lg" type="text" maxlength="50" placeholder="{{_ 'Enter_Your_Friends_Name'}}" autofocus>
               </div>
            </div>
            <button class="btn btn-success" type="submit"><i class="fa fa-thumbs-o-up"></i> {{_ "I_Bring_A_Friend"}}</button>
            {{> loading status=loadingStatus}}
         </form>
      </div>
   </div>
</template>
