<!--=================================================================-->
<!-- MORE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> more}} -->
<!-- REQUIRED SUBS: '' -->
<template name="more">
	<div class="window window-fullWidth window-fullHeight">
		{{> moreItem route="languages" text="Language" icon="ion-chatbox-working"}}
	   {{#if currentUser}}
	      {{> moreItem route="emailNotifMOBILE" text="Email_Notifications" icon="ion-email-unread"}}
	   {{/if}}
		{{> moreItem route="contactUs" text="Contact_Us" icon="ion-paper-airplane"}}
	   {{> moreItem route="FAQ" text="FAQs" icon="ion-help"}}
	   {{> moreItem route="whoWeAre" text="Who_Are_We" icon="ion-happy-outline"}}
	   {{> moreItem route="termsAndConditions" text="Terms_And_Conditions" icon="ion-document-text"}}
		 {{> moreItem route="privacyPolicy" text="Privacy Policy" icon="ion-document-text"}}
	   {{#if currentUser}}
	      {{> headerLogOutButton type="mobile" icon="fa fa-sign-out"}}
	   {{/if}}
	</div>
</template>
