<!--=================================================================-->
<!-- CONTACT FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> contactFormComponent}} -->
<!-- REQUIRED SUBS: '' -->
<template name="contactFormComponent">
   <div class="form-group">
		<label for="contact">{{_ "Message"}}</label>
   	<textarea class="form-control input-lg" name="contact" id="contact" type="text" maxlength="2000" placeholder="{{_ 'Write_Your_Message_Here'}}" rows="7" autocomplete="off" required></textarea>
	</div>
</template>
