<!--=================================================================-->
<!-- HEADER LANGUAGE BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> headerLangButton type="mobile/tablet/desktop"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="headerLangButton">
   {{#if tablet}}
      <a class="/*navbar-item-wrapper*/ dropdown-toggle" href="#" id="langLabel" data-toggle="dropdown" role="button" aria-expanded="false">
         <div class="row /*navbar-item-container*/" style="margin-top: 1px;">
            <div class="navbar-item-icon-container col-xs-12" style="padding-left: 10px; padding-right: 10px;">
            	{{#if english}}
                  <img class="navbar-item-icon" src="/flags/us.png">
               {{else}}
                  {{#if spanish}}
                     <img class="navbar-item-icon" src="/flags/es.png">
                  {{else}}
                     {{#if dutch}}
                        <img class="navbar-item-icon" src="/flags/nl.png">
                     {{else}}
                        {{#if german}}
                           <img class="navbar-item-icon" src="/flags/de.png">
                        {{else}}
                           {{#if italian}}
                              <img class="navbar-item-icon" src="/flags/it.png">
                           {{/if}}
                        {{/if}}
                     {{/if}}
                  {{/if}}
               {{/if}}
            </div>
            <div class="navbar-item-text-container col-xs-12" style="padding-top: 4px; padding-left: 10px; padding-right: 10px;">
               <span class="navbar-item-text text-uppercase grey">{{_ "Language"}}</span>
            </div>
         </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="langLabel">
         {{> langList}}
      </ul>
   {{else}}
      {{#if desktop}}
         <a href="#" id="langLabel" class="dropdown-toggle navbar-btn" data-toggle="dropdown" role="button" aria-expanded="false">
         	{{#if english}}
         		<img src="/flags/us.png">
         	{{else}}
         		{{#if spanish}}
         			<img src="/flags/es.png">
         		{{else}}
                  {{#if dutch}}
                     <img src="/flags/nl.png">
                  {{else}}
                     {{#if german}}
                        <img src="/flags/de.png">
                     {{else}}
                        {{#if italian}}
                           <img src="/flags/it.png">
                        {{/if}}
                     {{/if}}
                  {{/if}}
               {{/if}}
         	{{/if}}
         	<span class="caret"></span>
         </a>
         <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="langLabel">
            {{> langList}}
         </ul>
      {{/if}}
   {{/if}}
</template>

<!--=================================================================-->
<!-- LANGUAGE LIST TEMPLATE -->
<!--=================================================================-->
<template name="langList">
   <li><a href="#" id="nl" class="swapLang"><img src="/flags/nl.png">&nbsp;&nbsp;Nederlands</a></li>
   <li><a href="#" id="en" class="swapLang"><img src="/flags/us.png">&nbsp;&nbsp;English</a></li>
   <li><a href="#" id="es" class="swapLang"><img src="/flags/es.png">&nbsp;&nbsp;Espa&ntilde;ol</a></li>
   <li><a href="#" id="de" class="swapLang"><img src="/flags/de.png">&nbsp;&nbsp;Deutsch</a></li>
   <li><a href="#" id="it" class="swapLang"><img src="/flags/it.png">&nbsp;&nbsp;Italiano</a></li>
</template>
