<!--=================================================================-->
<!-- RADIUS SLIDER TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> radiusSlider initialValue="int"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="radiusSlider">
	<div class="form-group radius-slider">
		<div class="row">
			<div class="col-xs-3">
				<p class="text-left">{{_ "Radius"}}</p>
				<input name="radius" id="radius_slider_value" type="number" step="any" min=0.0 max=20.0 value="{{sliderValue}}">
			</div>
			<div class="col-xs-6">
				<div id="radius_slider"></div>
			</div>
			<div class="col-xs-3">
				<p class="text-center">{{sliderValue}}Km.</p>
			</div>
		</div>
	</div>
</template>
