<!--=================================================================-->
<!-- NEW ACTIVITY FORM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> newActivityForm}} -->
<!-- REQUIRED SUBS: '' -->
<template name="newActivityForm">
	<form class="new-match-form">
		{{> subSectionTitle text="Mandatory_Fields"}}
		{{> sportFormComponent label="1."}}
		{{> privacyFormComponent privacy="public" label="2."}}
		{{#visibleXs}}
			{{> newActivityMap}}
		{{/visibleXs}}
		{{#hiddenXs}}
			<div class="form-group">
				<label for="">3. {{{_ "Locate_The_Activity_On_The_Map_Explanation"}}}</label>
			</div>
		{{/hiddenXs}}
		{{> addressFormComponent label="4."}}
		{{> dateFormComponent label="5."}}
		{{> timeFormComponent label="6."}}
		{{> costFormComponent label="7."}}
		{{> maxParticipantsFormComponent label="8."}}
		{{> titleFormComponent label="9."}}
		<br>
		{{> subSectionTitle text="Elective_Fields"}}
		{{> durationFormComponent label="10."}}
		{{> descriptionFormComponent label="11."}}
		{{> fieldTypeFormComponent label="12."}}
		{{> fieldPhoneFormComponent label="13."}}
		{{> fieldWebsiteFormComponent label="14."}}
		{{> select2 elemDOM="activity_admin" group="admin" team="" preLabel="15. " label="Administrator" hint="Choose_User_To_Be_Admin"}}
		{{> select2 elemDOM="people_in_no_team_sport" group="peopleIn" team="" preLabel="16. " label="Participants" hint="Register_Users_That_Are_Going_To_Participate_In_The_Activity"}}
		{{> repeatFormComponent}}
		<!--{{> reCAPTCHA}}-->
		<button type="submit" class="btn btn-primary" id="createMatchButton"><i class="ion-wand"></i> {{_ 'Create_Activity'}}</button>
		{{> loading status=loadingStatus}}
	</form>
</template>
