<!--=================================================================-->
<!-- DAYS TEMPLATE -->
<!--=================================================================-->
<template name="daysTemplate">
	<option value="01" {{isSelected '01'}}>01</option>
	<option value="02" {{isSelected '02'}}>02</option>
	<option value="03" {{isSelected '03'}}>03</option>
	<option value="04" {{isSelected '04'}}>04</option>
	<option value="05" {{isSelected '05'}}>05</option>
	<option value="06" {{isSelected '06'}}>06</option>
	<option value="07" {{isSelected '07'}}>07</option>
	<option value="08" {{isSelected '08'}}>08</option>
	<option value="09" {{isSelected '09'}}>09</option>
	<option value="10" {{isSelected '10'}}>10</option>
	<option value="11" {{isSelected '11'}}>11</option>
	<option value="12" {{isSelected '12'}}>12</option>
	<option value="13" {{isSelected '13'}}>13</option>
	<option value="14" {{isSelected '14'}}>14</option>
	<option value="15" {{isSelected '15'}}>15</option>
	<option value="16" {{isSelected '16'}}>16</option>
	<option value="17" {{isSelected '17'}}>17</option>
	<option value="18" {{isSelected '18'}}>18</option>
	<option value="19" {{isSelected '19'}}>19</option>
	<option value="20" {{isSelected '20'}}>20</option>
	<option value="21" {{isSelected '21'}}>21</option>
	<option value="22" {{isSelected '22'}}>22</option>
	<option value="23" {{isSelected '23'}}>23</option>
	<option value="24" {{isSelected '24'}}>24</option>
	<option value="25" {{isSelected '25'}}>25</option>
	<option value="26" {{isSelected '26'}}>26</option>
	<option value="27" {{isSelected '27'}}>27</option>
	<option value="28" {{isSelected '28'}}>28</option>
	<option value="29" {{isSelected '29'}}>29</option>
	<option value="30" {{isSelected '30'}}>30</option>
</template>
