<!--=================================================================-->
<!-- MONTHS TEMPLATE -->
<!--=================================================================-->
<template name="monthsTemplate">
	<option value="01" {{isSelected '01'}}>01</option>
	<option value="02" {{isSelected '02'}}>02</option>
	<option value="03" {{isSelected '03'}}>03</option>
	<option value="04" {{isSelected '04'}}>04</option>
	<option value="05" {{isSelected '05'}}>05</option>
	<option value="06" {{isSelected '06'}}>06</option>
	<option value="07" {{isSelected '07'}}>07</option>
	<option value="08" {{isSelected '08'}}>08</option>
	<option value="09" {{isSelected '09'}}>09</option>
	<option value="10" {{isSelected '10'}}>10</option>
	<option value="11" {{isSelected '11'}}>11</option>
	<option value="12" {{isSelected '12'}}>12</option>
</template>
