<!--=================================================================-->
<!-- YEARS TEMPLATE -->
<!--=================================================================-->
<template name="yearsTemplate">
	<option value="2015" {{isSelected  '2015'}}>2015</option>
	<option value="2014" {{isSelected  '2014'}}>2014</option>
	<option value="2013" {{isSelected  '2013'}}>2013</option>
	<option value="2012" {{isSelected  '2012'}}>2012</option>
	<option value="2011" {{isSelected  '2011'}}>2011</option>
	<option value="2010" {{isSelected  '2010'}}>2010</option>
	<option value="2009" {{isSelected  '2009'}}>2009</option>
	<option value="2008" {{isSelected  '2008'}}>2008</option>
	<option value="2007" {{isSelected  '2007'}}>2007</option>
	<option value="2006" {{isSelected  '2006'}}>2006</option>
	<option value="2005" {{isSelected  '2005'}}>2005</option>
	<option value="2004" {{isSelected  '2004'}}>2004</option>
	<option value="2003" {{isSelected  '2003'}}>2003</option>
	<option value="2002" {{isSelected  '2002'}}>2002</option>
	<option value="2001" {{isSelected  '2001'}}>2001</option>
	<option value="2000" {{isSelected  '2000'}}>2000</option>
	<option value="1999" {{isSelected  '1999'}}>1999</option>
	<option value="1998" {{isSelected  '1998'}}>1998</option>
	<option value="1997" {{isSelected  '1997'}}>1997</option>
	<option value="1996" {{isSelected  '1996'}}>1996</option>
	<option value="1995" {{isSelected  '1995'}}>1995</option>
	<option value="1994" {{isSelected  '1994'}}>1994</option>
	<option value="1993" {{isSelected  '1993'}}>1993</option>
	<option value="1992" {{isSelected  '1992'}}>1992</option>
	<option value="1991" {{isSelected  '1991'}}>1991</option>
	<option value="1990" {{isSelected  '1990'}}>1990</option>
	<option value="1989" {{isSelected  '1989'}}>1989</option>
	<option value="1988" {{isSelected  '1988'}}>1988</option>
	<option value="1987" {{isSelected  '1987'}}>1987</option>
	<option value="1986" {{isSelected  '1986'}}>1986</option>
	<option value="1985" {{isSelected  '1985'}}>1985</option>
	<option value="1984" {{isSelected  '1984'}}>1984</option>
	<option value="1983" {{isSelected  '1983'}}>1983</option>
	<option value="1982" {{isSelected  '1982'}}>1982</option>
	<option value="1981" {{isSelected  '1981'}}>1981</option>
	<option value="1980" {{isSelected  '1980'}}>1980</option>
	<option value="1979" {{isSelected  '1979'}}>1979</option>
	<option value="1978" {{isSelected  '1978'}}>1978</option>
	<option value="1977" {{isSelected  '1977'}}>1977</option>
	<option value="1976" {{isSelected  '1976'}}>1976</option>
	<option value="1975" {{isSelected  '1975'}}>1975</option>
	<option value="1974" {{isSelected  '1974'}}>1974</option>
	<option value="1973" {{isSelected  '1973'}}>1973</option>
	<option value="1972" {{isSelected  '1972'}}>1972</option>
	<option value="1971" {{isSelected  '1971'}}>1971</option>
	<option value="1970" {{isSelected  '1970'}}>1970</option>
	<option value="1969" {{isSelected  '1969'}}>1969</option>
	<option value="1968" {{isSelected  '1968'}}>1968</option>
	<option value="1967" {{isSelected  '1967'}}>1967</option>
	<option value="1966" {{isSelected  '1966'}}>1966</option>
	<option value="1965" {{isSelected  '1965'}}>1965</option>
	<option value="1964" {{isSelected  '1964'}}>1964</option>
	<option value="1963" {{isSelected  '1963'}}>1963</option>
	<option value="1962" {{isSelected  '1962'}}>1962</option>
	<option value="1961" {{isSelected  '1961'}}>1961</option>
	<option value="1960" {{isSelected  '1960'}}>1960</option>
	<option value="1959" {{isSelected  '1959'}}>1959</option>
	<option value="1958" {{isSelected  '1958'}}>1958</option>
	<option value="1957" {{isSelected  '1957'}}>1957</option>
	<option value="1956" {{isSelected  '1956'}}>1956</option>
	<option value="1955" {{isSelected  '1955'}}>1955</option>
	<option value="1954" {{isSelected  '1954'}}>1954</option>
	<option value="1953" {{isSelected  '1953'}}>1953</option>
	<option value="1952" {{isSelected  '1952'}}>1952</option>
	<option value="1951" {{isSelected  '1951'}}>1951</option>
	<option value="1950" {{isSelected  '1950'}}>1950</option>
	<option value="1949" {{isSelected  '1949'}}>1949</option>
	<option value="1948" {{isSelected  '1948'}}>1948</option>
	<option value="1947" {{isSelected  '1947'}}>1947</option>
	<option value="1946" {{isSelected  '1946'}}>1946</option>
	<option value="1945" {{isSelected  '1945'}}>1945</option>
	<option value="1944" {{isSelected  '1944'}}>1944</option>
	<option value="1943" {{isSelected  '1943'}}>1943</option>
	<option value="1942" {{isSelected  '1942'}}>1942</option>
	<option value="1941" {{isSelected  '1941'}}>1941</option>
	<option value="1940" {{isSelected  '1940'}}>1940</option>
	<option value="1939" {{isSelected  '1939'}}>1939</option>
	<option value="1938" {{isSelected  '1938'}}>1938</option>
	<option value="1937" {{isSelected  '1937'}}>1937</option>
	<option value="1936" {{isSelected  '1936'}}>1936</option>
	<option value="1935" {{isSelected  '1935'}}>1935</option>
	<option value="1934" {{isSelected  '1934'}}>1934</option>
	<option value="1933" {{isSelected  '1933'}}>1933</option>
	<option value="1932" {{isSelected  '1932'}}>1932</option>
	<option value="1931" {{isSelected  '1931'}}>1931</option>
	<option value="1930" {{isSelected  '1930'}}>1930</option>
	<option value="1929" {{isSelected  '1929'}}>1929</option>
	<option value="1928" {{isSelected  '1928'}}>1928</option>
	<option value="1927" {{isSelected  '1927'}}>1927</option>
	<option value="1926" {{isSelected  '1926'}}>1926</option>
	<option value="1925" {{isSelected  '1925'}}>1925</option>
	<option value="1924" {{isSelected  '1924'}}>1924</option>
	<option value="1923" {{isSelected  '1923'}}>1923</option>
	<option value="1922" {{isSelected  '1922'}}>1922</option>
	<option value="1921" {{isSelected  '1921'}}>1921</option>
	<option value="1920" {{isSelected  '1920'}}>1920</option>
</template>
