.team {
   text-align: center;
}
.team > .team-header {
   font-weight: bold;
}
.team > table {
   width: 100%;
}
.team > table tr {
   height: 130px;
}
.team > table tr td {
   vertical-align: top;
}
