<!--=================================================================-->
<!-- TEAM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> team matchId="matchId" team="team"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="team">
   <div class="team">
   	<table>
   	   {{#each players}}
   			<tr>
   				<td>
   					{{> userAvatar data=this}} <!-- data = {userId, addedAt, team, [name], matchId, user, type} -->
   				</td>
   			</tr>
   		{{/each}}
   		{{#each dummies}}
   			<tr>
   				<td>
                  {{> dummyPlayer data=this}} <!-- data = {matchId, team} -->
   				</td>
   			</tr>
   		{{/each}}
   	</table>
   </div>
</template>
