<!--=================================================================-->
<!-- EDIT PROFILE MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editProfileMOBILE}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="editProfileMOBILE">
	<div class="window window-fullWidth window-fullHeight">
		<div class="withPadding">
			{{> editProfileForm}}
		</div>
	</div>
</template>
