<!--=================================================================-->
<!-- USERS NAVIGATION BAR TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> usersNav}} -->
<!-- REQUIRED SUBS: '' -->
<template name="usersNav">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<!--<div class="container-fluid">-->
	      <table class="navbar-fixed-bottom-table">
	         <tr>					
					{{> saveMapButton width="50%"}}
					{{> navBarSeeResults width="50%"}}
	         </tr>
	      </table>
	   <!--</div>-->
	</nav>
</template>
