<!--=================================================================-->
<!-- LANGUAGES TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> languages}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template-container -->
<template name="languages">
	<div class="window window-fullWidth window-fullHeight">
		<div class="/*withPadding page-wrap*/">
			{{> langCard lang="nl" langName="Nederlands" flag="/flags/nl.png"}}
			{{> langCard lang="en" langName="English" flag="/flags/us.png"}}
			{{> langCard lang="es" langName="Espa&ntilde;ol" flag="/flags/es.png"}}
         {{> langCard lang="de" langName="Deutsch" flag="/flags/de.png"}}
			{{> langCard lang="it" langName="Italiano" flag="/flags/it.png"}}
		</div>
		<!--{{> footer}}-->
	</div>
</template>
