<!--=================================================================-->
<!-- ACTIVITY DESKTOP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityDESKTOP matchId="matchId"}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="activityDESKTOP">
	<div class="window window-fullWidth window-fullHeight">
		<div class="container-fluid page-wrap withPadding">
			{{> activityBreadCrumbs}}
			{{> activityTitle matchId=this.matchId}}
			<div class="row">
				<div class="col-md-4 col-lg-4">
					{{> subSectionTitle text="Information"}}
					{{> activityData matchId=this.matchId}}
				</div>
				<div class="col-md-4 col-lg-4 withSideBorders">
					{{> activityTeams matchId=this.matchId}}
				</div>
				<div class="col-md-4 col-lg-4 withLeftPadding">
					{{> subSectionTitle text="Comments"}}
					{{> posts matchId=this.matchId}}
				</div>
			</div>
      </div>
		{{> footer}}
	</div>
</template>
