<!--=================================================================-->
<!-- PROFILE ACTIVITIES TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileActivities userId="usetId"}} -->
<!-- REQUIRED SUBS: template-level -->
<template name="profileActivities">
	{{#visibleXs}}
		{{> subSectionTitle text=sectionName}}
	{{/visibleXs}}
	<div class="matchesContainer">
		{{#each matchesArray}}
			{{> activityCard match=this.match type=cardType border=this.border}}
		{{else}}
			{{#if Template.subscriptionsReady}}
				<div class="no-results">{{_ "No_Activities_In_This_Section"}}</div>
			{{/if}}
		{{/each}}
		{{#if Template.subscriptionsReady}}
		   {{#if hasMoreMatches}}
		      <a class="load-more" href="#">{{_ "Load_More"}}</a>
		   {{/if}}
		{{else}}
			<br>
			<span class="loading">{{_ "Loading"}}</span>
		{{/if}}
	</div>
</template>
