/*====================================================================*/
/* MATCH DATA */
/*====================================================================*/
.matchData {
	font-size: 20px;
}
.matchData .matchData-title {
	word-wrap: break-word;
	font-weight: bold;
	font-size: 23px;
	color: #383838;
	font-family: "PT Sans Narrow",sans-serif;
}
.matchData table {
	table-layout: fixed !important;
	width: 100% !important;
	/*border:1px solid #f00;*/
	word-wrap: break-word !important;
}
.matchData table > tr > td {
   padding-right: 10px;
   padding-bottom: 5px;
   text-align: left;
}
.matchData table > tr > td.icon-holder {
	width: 30px;
}
.matchDescription {
	font-size: 19px;
}
/*a.shareit-google-colors {
	color: white;
	background-color: #D34836;
}
a.shareit-google-colors:hover {
	color: white !important;
}*/
