<!--=================================================================-->
<!-- ACTIVITY DATA TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityData matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="activityData">
	<div class="row matchData">
		<div class="col-xs-12">
			<p class="matchData-title">{{match.title}}</p>
			<table>
				<tr title="{{_ 'Sport'}}">
					<td class="icon-holder"><i class="ion-trophy"></i></td>
					<td>{{_ match.sport}}</td>
				</tr>
				<tr title="{{_ 'Privacy'}}">
					<td class="icon-holder">{{#if public}}<i class="fa fa-unlock"></i>{{else}}<i class="fa fa-lock"></i>{{/if}}</td>
					<td>{{_ match.privacy}}</td>
				</tr>
				<tr title="{{_ 'Activity_Status'}}">
					<td class="icon-holder"><i class="fa fa-tag"></i></td>
					<td><span class="label {{statusColor}}">{{_ match.status}}</span></td>
				</tr>
				<tr title="{{_ 'Organizer'}}">
					<td class="icon-holder"><i class="ion-ios-person"></i></td>
					<td><a href="/profile/{{match.createdBy}}">{{ownerName}}</a></td>
				</tr>
				<tr title="{{_ 'Date'}}">
					<td class="icon-holder"><i class="fa fa-calendar"></i></td>
					<td>{{formatDateDayName match.date}} {{formatDateDayNumber match.date}} {{formatDateMonthName match.date}}</td>
				</tr>
				<tr title="{{_ 'Starting_Time'}}">
					<td class="icon-holder"><i class="ion-clock"></i></td>
					<td>{{match.time}}h</td>
				</tr>
				{{#if durationIsSet}}
					<tr title="{{_ 'Duration_Of_The_Activity'}}">
						<td class="icon-holder"><i class="fa fa-history"></i></td>
						<td>{{_ match.duration}}</td>
					</tr>
				{{/if}}
				<tr title="{{_ 'Address'}}">
					<td class="icon-holder"><i class="ion-android-pin"></i></td>
					<td class="visible-xs"><a class="seeMapMOBILE" href="#">{{match.address}}</a></td>
					<td class="visible-sm"><a class="seeMapTABLET" href="#">{{match.address}}</a></td>
					<td class="visible-md visible-lg"><a class="seeMapDESKTOP" href="#">{{match.address}}</a></td>
				</tr>
				<tr title="{{_ 'Enrolled_Slash_Total'}}">
					<td class="icon-holder"><i class="ion-tshirt"></i></td>
					<!--<td>{{playersCounter}}</td>-->
					<td class="visible-xs"><a class="seeParticipantsMOBILE" href="#">{{playersCounter}}</a></td>
					<td class="hidden-xs">{{playersCounter}}</td>
				</tr>
				<tr title="{{_ 'Cost_Per_Person'}}">
					<td class="icon-holder"><i class="fa fa-money"></i></td>
					<td>{{match.cost}}</td>
				</tr>
				{{#if fieldTypeIsSet}}
					<tr title="{{_ 'Type_Of_Surface_Slash_Terrain'}}">
						<td class="icon-holder"><i class="fa fa-leaf"></i></td>
						<td>{{_ match.fieldType}}</td>
					</tr>
				{{/if}}
				<tr id="weather-row" title="{{_ 'Weather_Forecast_For_The_Day_Of_The_Activity'}}">
					<!-- See Template.activityData.onRendered for content -->
				</tr>
				{{#if fieldPhoneIsSet}}
					<tr title="{{_ 'Field_Phone'}}">
						<td class="icon-holder"><i class="ion-ios-telephone"></i></td>
						<td>{{match.fieldPhone}}</td>
					</tr>
				{{/if}}
				{{#if fieldWebsiteIsSet}}
					<tr title="{{_ 'Field_Website'}}">
						<td class="icon-holder"><i class="fa fa-hand-o-right"></i></td>
						<td><a href="{{match.fieldWebsite}}" target="_blank">{{match.fieldWebsite}}</a></td>
					</tr>
				{{/if}}
				{{#if currentUser}}
					<tr>
						<td class="icon-holder"><input class="followingLabel" type="checkbox" value="checked" {{isChecked following 'checked'}}></td>
						<td><a href="#" class="followingLabel">{{_ "Follow_Activity"}}</a></td>
					</tr>
				{{/if}}
				{{#if viewerIsOwnerOrAdmin}}
					<tr title="{{_ 'Go_To_Admin_Panel'}}">
						<td class="icon-holder"><i class="ion-android-options"></i></td>
						<td><a href="#" id="manageEditMatchButton">{{_ "Admin"}}</a></td>
					</tr>
				{{/if}}
			</table>
		</div>
	</div>
	{{#if descriptionIsSet}}
		<hr>
		{{> subSectionTitle text="Description_Slash_Observations"}}
		<div class="row matchDescription">
			<div class="col-xs-12" style="word-wrap: break-word;">
				<pre>{{match.description}}</pre>
			</div>
		</div>
	{{/if}}
	<hr>
	{{> subSectionTitle text="Share"}}
	<div class="row">
		<div class="col-xs-12">
			{{> shareit title=shareTitle}}
		</div>
	</div>
</template>
