/*====================================================================*/
/* HEADER */
/*====================================================================*/
.nav-sections-TABLET {
	font-size: 14px;
}
.navbar-brand.logo-medium {
	margin-top: -10px;
	display: inline-block;
}
/* HEADER LOGIN BUTTON DESKTOP */
.nav-sections-TABLET li.headerLoginButton > div {
   padding: 12px 15px 0px 15px;
}
