<!--=================================================================-->
<!-- HEADER TABLET TEMPLATE -->
<!--=================================================================-->
<!-- USAGE {{> headerTABLET}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="headerTABLET">
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 58px;">
      <div class="navbar-header">
         <a class="navbar-brand logo-medium" href="{{pathFor 'home'}}">
            <img alt="fulbacho.net" src="/logos/logo10.png" width="170">
         </a>
      </div>
      <div class="nav-sections-TABLET">
         <ul class="nav navbar-nav text-center">
            <li>{{> headerItem section="activities" text="Activities" icon="ion-location" href="/activities" param="" active=activities type="tablet"}}</li>
   			<li>{{> headerItem section="users" text="Users" icon="ion-ios-people" href="/users" param="" active=users type="tablet"}}</li>
            <li>{{> headerItem section="newActivity" text="Create_Activity" icon="ion-wand" href="/activities/new_activity" param="" active=newActivity type="tablet"}}</li>
            <li>{{> headerLangButton type="tablet"}}</li>
         </ul>
         <ul class="nav navbar-nav navbar-right text-center" style="margin-right: 0px;">
            {{#if currentUser}}
               <li>{{> headerProfileButton type="tablet"}}</li>
               <li>{{> headerNotifButton type="tablet"}}</li>
               <li>{{> headerMoreButton type="tablet"}}</li>
            {{else}}
               {{> headerSignInButton type="tablet"}}
            {{/if}}
         </ul>
      </div>
   </nav>
</template>
