<!--=================================================================-->
<!-- COORDINATES COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> coordsFormComponent}} -->
<!-- REQUIRED SUBS: '' -->
<template name="coordsFormComponent">
	<input name="lat" id="lat" type="number" step="any" value="" placeholder="latitud" readonly="readonly" class="hidden">
	<input name="lng" id="lng" type="number" step="any" value="" placeholder="longitud" readonly="readonly" class="hidden">
</template>
