<!--=================================================================-->
<!-- PROFILE INFO TABLE COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileInfoTableComponent title="String" icon="iconClass" info="String"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="profileInfoTableComponent">
   {{#visibleXs}}
		<tr title="{{_ this.title}}">
			<td><i class="{{this.icon}}"></i>&nbsp;&nbsp;{{_ this.info}}</td>
		</tr>
   {{/visibleXs}}
   {{#hiddenXs}}
		<tr title="{{_ this.title}}">
		   <td><i class="{{this.icon}}"></i></td>
			<td>{{_ this.info}}</td>
		</tr>
   {{/hiddenXs}}
</template>
