<!--=================================================================-->
<!-- USER CARD TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> userCard player='playerObj' type="mobile/desktop" [border="boolean"]}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: device-type-dispatcher -->
<template name="userCard">
	<a class="anchorWrap" href="/profile/{{this.player._id}}"> <!-- See style.css -->
		<span class="spanWrap"> <!-- See style.css -->
			{{#if mobile}}
				<div class="media playerCard small {{#if withBorder}}playerCard-withBorder{{/if}} {{active}}">
				  	<div class="media-left">
				    	{{> avatar user=this.player shape="circle" size="medium" bgColor=randomBgColor txtColor="white" class="media-object"}}
				  	</div>
				  	<div class="media-body">
						{{> userCardData player=this.player}}
				  	</div>
				</div>
			{{else}}
				{{#if desktop}}
					<div class="media playerCard large {{#if withBorder}}playerCard-withBorder{{/if}} {{active}}">
					  	<div class="media-left">
					    	{{> avatar user=this.player shape="square" size="large" bgColor=randomBgColor txtColor="white" class="media-object"}}
					  	</div>
					  	<div class="media-body">
							{{> userCardData player=this.player}}
					  	</div>
					</div>
				{{else}}
					Unknown userCard type! {{this.type}}
				{{/if}}
			{{/if}}
		</span>
	</a>
</template>
