/*====================================================================*/
/* PLAYER CARD TEMPLATE */
/*====================================================================*/
.playerCard {
	padding: 15px 0px;
}
.playerCard.active {
	background-color: #E9EBEF;
}
.playerCard-withBorder {
	border-bottom: 1px dotted #d3d3d3;
}
.playerCard.large .avatar-large .avatar-initials {
   font-size: 40px;
   line-height: 80px;
}
.playerCard .media-body {
	padding-top: 7px;
}
