<!--=================================================================-->
<!-- CHECK USER TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> checkUser message='text'}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: display 'text' when the user is not logged in -->
<template name="checkUser">
	{{#unless currentUser}}
		<div class="alert alert-danger " role="alert">
         {{_ this.message}}
		</div>
	{{/unless}}
</template>
