.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* ================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works because "fill" was set to "currentColor"
}
================================================================================ */

.icon-map {
	width: 1.28125em;
}

.icon-profile-male {
	width: 1.125em;
}

.icon-profile-female {
	width: 1.125em;
}

.icon-dollar2 {
	width: 1.1875em;
}
