/*====================================================================*/
/* POST ITEM */
/*====================================================================*/
.post-item {
	border-top: 1px solid #EEE;
	padding-top: 15px;
}
.post-item .post-date {
	color: silver;
	font-size: 13px;
}
.post-item .post-text {
	color: #71767a;
}
.post-item .post-buttons {
	display: inline-block;
}
.post-item .post-buttons .post-remove,.post-edit {
	color: silver;
	cursor: pointer;
}

/* EDIT */
.post-item .post-edit-save,.post-edit-cancel {
	font-size: 12px;
}
.post-item form {
	width: 100%;
}
.post-item form textarea {
	max-width: 100%;
	min-width: 100%;
}
