<!--=================================================================-->
<!-- POST ITEM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> postItem post="postObj"}} where postObj = {createdBy, createdAt, text, postedOn, sender} -->
<!-- REQUIRED SUBS: '' -->
<template name="postItem">
	<div class="media post-item">
		<div class="media-left">
			{{> avatar user=this.post.sender shape="square" size="medium" bgColor=randomBgColor txtColor="white" class="media-object"}}
		</div>
		<div class="media-body">
			{{#if editPost}}
				<form>
					<textarea class="form-control input-lg" type="text" rows="3" maxlength="2000">{{this.post.text}}</textarea>
					<a class="post-edit-save" href="#">{{_ "Save"}}</a>
					&nbsp;-&nbsp;
					<a class="post-edit-cancel" href="#">{{_ "Cancel"}}</a>
				</form>
			{{else}}
				<a class="post-author" href="/profile/{{this.post.createdBy}}">{{this.post.sender.profile.name}}</a>
				&nbsp;
				<span class="post-date">{{formatDateTimeNotUTC this.post.createdAt}}</span>
				<br>
				<div class="post-text">
					{{this.post.text}}					
				</div>
				<br>
				{{#if viewerIsAuthor}}
					<div class="pull-right post-buttons">
						<span class="post-edit" title="{{_ 'Edit_Post'}}"><i class="fa fa-pencil"></i></span>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="post-remove" title="{{_ 'Remove_Post'}}"><i class="fa fa-trash-o"></i></span>
					</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
</template>
