<!--=================================================================-->
<!-- CONTACT US TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> contactUs type="desktop/mobile"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="contactUs">
	{{#if mobile}}
		<div class="window window-fullWidth window-fullHeight">
			<div class="withPadding">
			   <form>
					{{> nameFormComponent name=name}}
               {{> emailFormComponent email=email}}
               {{> contactFormComponent}}
					{{> captchaFormComponent}}
					<button type="submit" class="btn btn-info"><i class="ion-paper-airplane"></i> {{_ "Send"}}</button>
					{{> loading status=loadingStatus}}
            </form>
			</div>
		</div>
	{{else}}
		{{#if desktop}}
	      <div class="row">
		      <div class="col-xs-12">
               {{> sectionTitle text="Contact_Us"}}
               <form>
						{{> nameFormComponent name=name}}
                  {{> emailFormComponent email=email}}
                  {{> contactFormComponent}}
						{{> captchaFormComponent}}
						<button type="submit" class="btn btn-info"><i class="ion-paper-airplane"></i> {{_ "Send"}}</button>
						{{> loading status=loadingStatus}}
               </form>
            </div>
         </div>
		{{/if}}
	{{/if}}
</template>
