<!--=================================================================-->
<!-- EMAIL FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> emailFormComponent email="Email"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="emailFormComponent">
   <div class="form-group">
		<label for="email">{{_ "Email_Address"}}</label>
   	<input class="form-control input-lg" name="email" id="email" type="text" maxlength="50" placeholder="{{_ 'Email_Example'}}" autocomplete="off" value="{{this.email}}" required>
	</div>
</template>
