<!--=================================================================-->
<!-- USERS DESKTOP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> usersDESKTOP}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="usersDESKTOP">
	<div class="window window-sharedWidth-leftSide sharedWindow-50x50-left">
		<div class="withPadding page-wrap">
			{{> usersBreadCrumbs}}
			{{> sectionTitle text="List_Of_Users" class="withBottomMargin"}}
			{{> saveMapButton}} <!-- no content to display, logic only -->
			{{> adCard type="desktop"}}
			{{> usersResultsHeader mapBounds=mapBounds}} <!-- see client/common/helpers/map_bounds.js -->
			{{> usersResultsList mapBounds=mapBounds}} <!-- see client/common/helpers/map_bounds.js -->
		</div>
		{{> footer}}
	</div>
	<div class="window window-sharedWidth-rightSide sharedWindow-50x50-right">
		{{> usersMap}}
	</div>
</template>
