<!--=================================================================-->
<!-- TERMS AND CONDITIONS TEMPLATE -->
<!--=================================================================-->
<template name="privacyPolicy">
	{{#if mobile}}
		<div class="window window-fullWidth window-fullHeight">
         <div class="withPadding">
            {{> privacyPolicyContent}}
         </div>
      </div>
   {{else}}
      {{#if desktop}}
         {{> sectionTitle text="Privacy Policy"}}
				 {{> privacyPolicyContent}}
      {{/if}}
   {{/if}}
</template>


<template name="privacyPolicyContent">
	<div>
	<p><strong>fulbacho.net Privacy Policy</strong></p>
	<p>Last Modified: [24th May 2018]</p>

	<p>The protection of your privacy is of particular importance to us, fulbacho.net (hereinafter ”fulbacho, “we”, “our”, “us”). Furthermore, it is important to us that you know, at any point, when we store your personal data and how we use it.</p>

	<p><strong>What is this Privacy Policy about?</strong></p>
	<p>The details provided in this Privacy Policy shall provide you with information about when and how we collect personal data relating to you during your use of the websites and service operated by fulbacho under the domain &apos;fulbacho.net&apos; (“Service”) and how we use such data. We inform you about the kind of personal data, the scope of personal data, and the purposes that such collection and use of personal data is performed for.</p>

	<p><strong>What is personal data?</strong></p>
	<p>Personal data is any information relating to an identified or identifiable natural person. A person is identifiable, if the person can be identified, directly or indirectly, in particular by reference to an identification number or to one or more factors specific to his physical, physiological, mental, economic, cultural or social identity. This may include data such as e.g. name, email address, telephone number and mailing address.</p>

	<p><strong>What is the legal basis for processing your data?</strong></p>
	<p>We process your data in the context of our service because such processing is necessary (i) to determine if, pursuant to your request, we can provide our Service to you, or (ii) to actually perform the Services and provide them to you. If you are not an actual user of the service anymore and we process your personal data for marketing purposes, our processing activities are based on fulbacho&apos;s legitimate interest consisting in pursuing the development of its business.</p>

	<p>If you haven’t yet subscribed to our services but have provided your personal data to receive marketing communications from fulbacho, we process your data on the basis of your consent.</p>

	<p><strong>What kind of personal data does fulbacho collect?</strong></p>
	<p>For the provision of the Service, we collect from you and process the following categories of data relating to you: identification data, data relating to personal life, data relating to professional life, as well as financial data. In addition for user experience purposes, with every access of our Service, data related to this event is being saved to a protocol file or database on the server of our hosting service provider. This also applies to data you enter in order to use the Service or contact us.</p>

	<p>In this respect, we collect the following information:</p>

	<p>File name of the content retrieved respectively, information submitted by you in the course of using our service, communication data and notes provided by you, fulbacho or other users of the platform while using our services;</p>
	<ul>
		<li>Date and time of the requests;</li>
		<li>Amount of data transferred, access status (content transmitted, content not found, etc.);</li>
		<li>Operating system, browser and device type;</li>
		<li>Language and time zone settings;</li>
		<li>Referrer-URL, i.e. internet address of the website visited previous to accessing our offering;</li>
		<li>IP address and name of your internet service provider.</li>
	</ul>

	<p><strong>How does fulbacho use my personal data?</strong></p>
	<p>fulbacho uses the data for the following purposes:</p>
	<ul>
		<li>Providing the services you requested, e.g. matching you with other users of our service (potential players).</li>
		<li>Making certain that you have the best user experience, e.g. edit your profile and settings.</li>
		<li>Honoring our contractual obligations to you, e.g. inform you about possible connections (Games nearby) via the platform, email, text message or phone.</li>
		<li>Enabling you to participate in our services.</li>
		<li>To inform you about our service, changes to our service, or about similar services that we provide.</li>
		<li>For statistical use, under anonymized form.</li>
	</ul>

	<p><strong>Who are the recipients of my personal data?</strong></p>
	<p>Your data may only be communicated to the authorized personnel of fulbacho and relevant data processors and service providers acting on behalf of fulbacho, as well as to those of the users of fulbacho&apos;s service (i.e. potential employers and/or job applicants) to which you have accepted that we communicate your data.</p>

	<p><strong>For how long does fulbacho retain my data?</strong></p>
	<p>fulbacho retains your data for the duration of your subscription to our service and for a maximum period of 5 years thereafter.</p>

	<p>If you have not yet subscribed to our service but have consented to receiving marketing communications from fulbacho, we will process your data until you withdraw such consent.</p>

	<p><strong>Does fulbacho use Cookies?</strong></p>
	<p>A Cookie is a small file sent by fulbacho – like many other internet services do – to the user’s browser which is then stored on the user’s device in order to recognize the user when the user revisits our Service the next time. Such Cookie usually contains the name of the domain the Cookie originates from, the durability of the Cookie until it expires, and a value in terms of a unique number generated by a respective random generator.</p>

	<p>Using such Cookies enables fulbacho to recognize the user, and to statistically record the use of the service as well as analyze it in order to improve it.</p>

	<p>You can disable fulbacho&apos;s cookies on your browser as further described below, and the website can be accessed with cookies disabled, but the Service may not be usable or its usability deteriorated without cookies. Cookies that are already on the device may be deleted by the user at any time, manually or doing so via the settings of the browser. We want to point out, however, that using the Service provided by fulbacho may possibly be limited or not as convenient without Cookies.</p>

	<p><strong>Does fulbacho use analytics tools?</strong></p>
	<p>fulbacho automatically records information, namely usage data. For advertising, market research, improvement of existing and creation of new innovative products, fulbacho may create aggregated anonymized data.</p>

	<p>Besides that, fulbacho uses Google Analytics to track the usage of the Service in order to optimize the Service for the users. All data is used in anonymized form.</p>

	<p>Google Analytics is a web analytics service of Google Inc. (&apos;Google&apos;). Google Analytics uses so-called Cookies, text files, which are stored on the user’s device and which enable an analysis of the use of the Service by the user. By activating IP anonymization on the Service, the IP address of the user will however be shortened by Google within the member states of the European Union or other contracting states of the agreement on the European Economic Area. Only in exceptional cases will the full IP address be transferred to a server in the US and shortened there. Google will, on behalf of fulbacho, use the information to analyze the use of the Service by the user, in order to compile reports about the activities of users on the Service and in order to provide further services associated with the use of the Service and the internet. Google will in no way combine the IP address of a user with other data of Google.</p>

	<p>Users can prevent the installation of the cookies by a corresponding setting of the browser software; fulbacho however points out that in this case users can if applicable not use all functions of the Service of fulbacho in full. The users can object to the collection and use of their IP address by Google Analytics by downloading and installing the browser plugin available here: Opt-out (browser plugin)</p>

	<p>Thereby, a cookie will be placed on your device. In case you delete your cookies, you will have to click the link again.</p>

	<!--<p>Below you will find a list of the cookies we may use on our Service:</p>

	FIRST-PARTY COOKIES
	Type of Cookie	Name	Purpose
	Session cookie	_session_id	Necessary for the management of the session for the provision of the website content
	Website functionality	candidates_visited, candidates_visited-group-<type_of_group>, cookie-notice-suppressed, find_candidate_filter, freelance_push_banner_display_again_at, hermes-tab-memory-<context>, hidden_candidates, locale, push_notification_cta_dismissed_for_<context>, push_notification_permission_status, push_notification_subscribed, push_notification_subscription_recently_renewed, referrer_id, user_timezone, website_country_code, website_language, remember_user_token, browser.timezone	Customize user experience on the website
	Analytical / performance cookies	ab_road, first_referrer, ga_client_id ,_gat, _gid, _ga, last_referrer, last_touch_utm_campaign, last_touch_utm_content, last_touch_utm_medium, last_touch_utm_source, last_touch_utm_term, utm_campaign, utm_content, utm_medium, utm_source, utm_term, split	Analytics in respect of the usage of the website
-->
	<p><strong>Does fulbacho use Social Media Plug-ins?</strong></p>
	<p>On our Service we use elements from third parties including the social networks Facebook, Twitter, Google+ and Meteor. Suppliers of the plug-ins are the companies Facebook Inc., Google Inc., Twitter Inc and Meteor Development Group. Web page elements are e.g. buttons (so-called “social plug-ins”) or integrated content from the providers.</p>

	<p>Your browser establishes a direct connection to the server of the respective provider when you visit a page from our Service that contains such a website element. The content of the website element is transmitted by the respective provider directly to your browser and integrated into the Service. By integrating the website elements, the providers gain knowledge that your browser has accessed the corresponding page of our Service, and even if you do not have a profile with the respective provider or are not logged in at the time. This information (including your IP address) is transmitted by your browser directly to a server of the respective provider in the USA and stored there.</p>

	<p>If you are logged into one of the services, the respective provider can directly assign the visit to fulbacho&apos;s Service to your profile with this provider.</p>

	<p>We have no influence on the parameters of the data that the providers lift out with the help of the website elements. For details on the purpose and extent of the data collection and the further processing and use of the data by the providers as well as your related rights and setting options for protecting your privacy, please refer to the privacy policy of the provider.</p>

	<p>You would need to log out of each provider’s services if you want to prevent providers from directly associating the data collected through fulbacho&apos;s Service with your profile in that service. Finally, there is the possibility of completely preventing the loading of the website elements with browser add-ons.</p>

	<p><strong>Does fulbacho use Web beacons?</strong></p>
	<p>We currently contract with several online partners to help manage and optimize our Internet business and communications. We use the services of a marketing companies to help us measure the effectiveness of our advertising and how visitors use our Website. To do this, we use Web beacons and cookies provided by the marketing company. A “web beacon,” is also called a web bug or a pixel tag or a clear GIF. Used in combination with cookies, a web beacon is an often-transparent graphic image, usually no larger than 1pixel x 1 pixel, that is placed on a website or in an e-mail that is used to monitor the behavior of the user visiting the website or sending the e-mail. By supplementing our records, this information helps us learn things about, for example, what pages are most attractive to our visitors and which of our services most interest our customers. If you do not wish to help us learn how to improve our site, products and offers, you can Opt-out of this by performing the following steps:
	</p>

	<!--Turn off our marketing related tracking using the following widget:-->
	<p>Turn off 3rd party cookies on your browser by following these instructions.</p>

	<p><strong>Does fulbacho save my data in case of me making a request?</strong></p>
	<p>In case you direct an inquiry to fulbacho, fulbacho saves the communication history with you as well as information and data submitted in the course of this communication (e.g. email address), in order to optimally answer your request and any further follow-ups.</p>

	<p><strong>Is my data secure?</strong></p>
	<p>The data about you is being protected with all reasonable efforts. However, we have to point out that the Internet does not allow for absolute data security despite all technical measures. We are not liable for actions of third parties.</p>

	<p><strong>What are my rights in relation to fulbacho?</strong></p>
	<p>You have, upon such request, the right to cost-free information about the personal data stored in regard to your person. Furthermore, you have a right subject to the statutory provisions to have such personal data corrected, blocked, and deleted. You also have the right to restriction of processing concerning such data, as well as, if you are an actual user of the service or have consented to the processing of your data to receive marketing communications, the right to data portability. When you have given your consent for the processing of your personal data, you can withdraw your consent at any time. You also have the right to lodge a complaint with a supervisory authority. If you reside in France, you have the right to provide fulbacho with specific instructions relating to the processing of your personal data after your death.</p>

	<p><strong>Third-Party Websites</strong></p>
	<p>Our Service may contain links or references to other websites outside of our control. Please be aware that this policy does not apply to these websites. We encourage you to read the privacy statements and terms and conditions of linked or referenced websites you enter. These third-party websites may send their own cookies and other tracking devices to you, log your IP address, and otherwise collect data or solicit personal data. WE DO NOT CONTROL AND ARE NOT RESPONSIBLE FOR WHAT THIRD PARTIES DO IN CONNECTION WITH THEIR WEBSITES, OR HOW THEY HANDLE YOUR PERSONAL DATA. PLEASE EXERCISE CAUTION AND CONSULT THE PRIVACY POLICIES POSTED ON EACH THIRD-PARTY WEBSITE FOR FURTHER INFORMATION.</p>

	<p><strong>Children Under the Age of 16</strong></p>
	<p>Our Service is not intended for children under 16 years of age, and we do not knowingly collect or use any personal data from children under the age of 16. No one under the age of 16 may provide any information to or on the Service. If we learn that we have collected or received personal data from a child under the age of 16, we will delete that information. If you believe we might have any information from or about a child under the age of 16, please contact us at federodes@gmail.com.</p>

	<p><strong>Revisions to fulbacho&apos;s Privacy Policy</strong></p>
	<p>We reserve the right to change this policy at any time. Any changes we make will be posted on this page. If we make material changes to how we treat your personal data, we will notify you through a notice on the Service. The date this policy was last revised is identified at the top of the page. You are responsible periodically monitoring and reviewing any updates to this policy. Your continued use of our Service after such amendments will be deemed your acknowledgement of these changes to this policy.</p>

	<p><strong>How do I contact fulbacho regarding data privacy aspects?</strong></p>
	<p>If you have any requests, questions, or suggestions related to data privacy, please direct your request to federodes@gmail.com. We look forward to hearing from you.</p>

	<p>
		Spain
		<br/>
		Carrer Progres 92,
		<br/>
		l'hospitalet de llobregat,
		<br/>
		Barcelona,
		<br/>
		federodes@gmail.com
	</p>
	</div>
</template>
