<!--=================================================================-->
<!-- EDIT ACTIVITY DATA TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editActivityData matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="editActivityData">
	<div class="row">
		<div class="col-xs-12">
			{{> subSectionTitle text="Activity_Info"}}
			<form>
				{{#with match}}
					{{> titleFormComponent label="1." title=this.title}}
					{{> addressFormComponent label="2." address=this.address}}
					{{> dateFormComponent label="3." date=this.date}}
					{{> timeFormComponent label="4." time=this.time}}
					{{> durationFormComponent label="5." duration=this.duration}}
					{{> costFormComponent label="6." cost=this.cost}}
					{{> fieldTypeFormComponent label="7." fieldType=this.fieldType}}
					{{> descriptionFormComponent label="8." description=this.description}}
					{{> fieldPhoneFormComponent label="9." fieldPhone=this.fieldPhone}}
					{{> fieldWebsiteFormComponent label="10." fieldWebsite=this.fieldWebsite}}
					<!--{{> repeatFormComponent repeat=this.repeat}}-->
				{{/with}}
				<button type="submit" class="btn btn-success" id="saveEdit"><i class="ion-checkmark"></i> {{_ 'Save'}}</button>
				{{> loading status=loadingStatus}}
				<button type="button" class="btn btn-danger" id="cancelEdit"><i class="ion-close"></i> {{_ 'Cancel'}}</button>
			</form>
		</div>
	</div>
</template>
