<!--=================================================================-->
<!-- ACTIVITIES DESKTOP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activitiesDESKTOP}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="activitiesDESKTOP">
	<div class="window window-sharedWidth-leftSide sharedWindow-50x50-left">
		<div class="withPadding page-wrap">
			{{> activitiesBreadCrumbs}}
			{{> sectionTitle text="Public_Activities" class="withBottomMargin"}}
			{{> saveMapButton}} <!-- no content to display, logic only -->
			{{> adCard type="desktop"}}
         {{> activitiesResultsHeader mapBounds=mapBounds}} <!-- see client/common/helpers/map_bounds.js -->
			{{> activitiesResultsList mapBounds=mapBounds}} <!-- see client/common/helpers/map_bounds.js -->
		</div>
		{{> footer}}
	</div>
	<div class="window window-sharedWidth-rightSide sharedWindow-50x50-right">
		{{> activitiesMap}}
	</div>
</template>
