<!--=================================================================-->
<!-- SIGN MY FRIEND OUT BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> signMyFriendOut matchId='matchId'}} -->
<!-- REQUIRED SUBS: '' -->
<template name="signMyFriendOut">
	<div class="row">
		<div class="col-xs-12">
         <button class="btn btn-danger" type="button"><i class="fa fa-thumbs-o-down"></i> {{_ "My_Friend_Is_Out"}}</button>
			{{> loading status=loadingStatus}}
      </div>
   </div>
</template>
