<!--=================================================================-->
<!-- ACTIVITY MAP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityMap matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="activityMap">
	{{#visibleXs}}
		<div class="window window-fullWidth window-fullHeight-withFooter">
	   	<div id="googleMapMatch" class="googleMapsFullWidthFullHeight"></div>
	   </div>
	{{/visibleXs}}
	{{#visibleSm}}
	   {{> sectionTitle text="Activity_Location"}}
		<div style="height: 400px; width: 100%; border: 1px solid silver;">
	   	<div id="googleMapMatch" class="googleMapsFullWidthFullHeight"></div>
	   </div>
	{{/visibleSm}}
	{{#visibleMd}}
	   {{> sectionTitle text="Activity_Location"}}
		<div style="height: 500px; width: 100%; border: 1px solid silver;">
	   	<div id="googleMapMatch" class="googleMapsFullWidthFullHeight"></div>
	   </div>
	{{/visibleMd}}
	{{#visibleLg}}
	   {{> sectionTitle text="Activity_Location"}}
		<div style="height: 500px; width: 100%; border: 1px solid silver;">
	   	<div id="googleMapMatch" class="googleMapsFullWidthFullHeight"></div>
	   </div>
	{{/visibleLg}}
</template>
