<!--=================================================================-->
<!-- POSTS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> posts matchId="matchId"}} -->
<!-- REQUIRED SUBS: template-level -->
<template name="posts">
	<div class="row">
		<div class="col-xs-12">
			{{> postsForm matchId=this.matchId}}
			{{#each posts}}
				{{> postItem post=this}}
			{{else}}
				<span class="no-results">{{_ "No_Comments_Yet"}}</span>
			{{/each}}
		</div>
	</div>
</template>
