<!--=================================================================-->
<!-- ACTIVITIES MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activitiesMOBILE}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="activitiesMOBILE">
	<div class="window window-fullWidth window-fullHeight-withFooter window-fixedFooter">
      {{> activitiesMap}}
		<div id="results-list"> <!-- this reference is used in see_results_nav_component.js to scroll the page down -->
			{{> activitiesResultsHeader mapBounds=mapBounds}} <!-- see client/common/helpers/map_bounds.js -->
			<div class="withSidePadding withBottomPadding">
				{{> activitiesResultsList mapBounds=mapBounds}} <!-- see client/common/helpers/map_bounds.js -->				
			</div>
		</div>
	</div>
	{{> activitiesNav}}
</template>
