<!--=================================================================-->
<!-- EMAIL NOTIFICATIONS MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> emailNotifMOBILE}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="emailNotifMOBILE">
   <div class="window window-fullWidth window-fullHeight">
      <div class="withPadding">
         {{#if currentUser}}
         	{{> emailNotifCurAddress}}
            <hr>
         	{{> emailNotifForm}}
         {{/if}}
      </div>
   </div>
</template>
