<!--=================================================================-->
<!-- PROFILE DESKTOP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{profileDESKTOP userId="userId"}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="profileDESKTOP">
	<div class="window window-fullWidth window-fullHeight">
		<div class="container page-wrap withPadding profileContainer">
			{{> profileBreadCrumbs}}
			<br>
			<div class="row">
				<div class="profileDESKTOP col-sm-5 col-md-4 col-lg-3">
					{{> avatar userId=this.userId shape="rounded" size="large" bgColor=randomBgColor txtColor="white" class="avatar-xxlarge"}} <!-- requires user.profile.name + users services subs -->
					<br>
					{{> profileData userId=this.userId}}
					{{> profileButtons userId=this.userId}}
				</div>
				<div class="col-sm-7 col-md-8 col-lg-9">
	            {{> profileTabs}}
			      {{> profileActivities userId=this.userId}}
				</div>
			</div>
      </div>
		{{> footer}}
	</div>
</template>
