<!--=================================================================-->
<!-- COST FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> costFormComponent label="String" [cost="String"]}} -->
<!-- REQUIRED SUBS: '' -->
<template name="costFormComponent">
	<div class="form-group">
		<label for="cost">{{this.label}} {{_ "Cost_Per_Person"}}</label>
		<input class="form-control input-lg" name="cost" id="cost" type="text" maxlength="40" placeholder="{{_ 'Cost_Per_Person_Example'}}" autocomplete="off" required>
	</div>
</template>
