<!--=================================================================-->
<!-- PUBLISH ACTIVITY BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> publishActivity matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="publishActivity">
	<!--{{#if viewerIsOwner}}-->
		{{#if matchIsActive}}
	      {{#if matchIsPrivate}}
				<button class="btn btn-success" type="button"><i class="ion-speakerphone"></i> {{_ "Make_It_Public"}}</button>
			{{/if}}
		{{/if}}
	<!--{{/if}}-->
</template>
