.notifItem {
   padding: 10px 15px;
   border-bottom: 1px solid #EEE;
   cursor: pointer;
}
.notifItem.active {
   background-color: #E9EBEF;
}
.notifItem .notifText {
	font-size: 17px;
	color: black;
}
.notifItem .notifDate {
	font-size: 15px;
	color: #989898;
}
.media.notifItem {
   margin-top: 0px !important;
}
