<!--=================================================================-->
<!-- NOTIFICATION ITEM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{notifItem notification="notifObj + senderObj"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="notifItem">
   <div class="media notifItem {{active}}">
     	<div class="media-left">
         {{> avatar user=this.notification.sender shape="square" size="medium" bgColor=randomBgColor txtColor="white" class="media-object"}}
     	</div>
     	<div class="media-body">
   		<span class="notifText">{{{_ this.notification.text createdBy=this.notification.sender.profile.name}}}</span>
         <br>
         <span class="notifDate">{{formatDateTimeNotUTC this.notification.createdAt}}</span>
     	</div>
   </div>
</template>
