<!--=================================================================-->
<!-- DURATION FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> durationFormComponent label="String" duration="String"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="durationFormComponent">
	<div class="form-group">
		<label for="duration">{{this.label}} {{_ "Duration_Of_The_Activity"}}</label>
		<input class="form-control input-lg" name="duration" id="duration" type="text" maxlength="40" placeholder="{{_ 'Duration_Example'}}" autocomplete="off">
	</div>
</template>
