<!--=================================================================-->
<!-- FREQUENTLY ASKED QUESTIONS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> FAQ}} -->
<!-- REQUIRED SUBS: '' -->
<template name="FAQ">
	{{#if mobile}}
		<div class="window window-fullWidth window-fullHeight">
			<div class="withPadding">
            {{> FAQDeleteActivity}}
            {{> FAQActivityNotFound}}
            {{> FAQActivitySignIn}}
            {{> FAQActivitySignOut}}
            {{> FAQActivitySignFriendIn}}
            {{> FAQActivityShare}}
			</div>
		</div>
	{{else}}
		{{#if desktop}}
         {{> sectionTitle text="Frequently_Asked_Questions"}}
         {{> FAQDeleteActivity}}
         {{> FAQActivityNotFound}}
         {{> FAQActivitySignIn}}
         {{> FAQActivitySignOut}}
         {{> FAQActivitySignFriendIn}}
         {{> FAQActivityShare}}
		{{/if}}
	{{/if}}
</template>


<!--=================================================================-->
<!-- FAQ DELETE ACTIVITY TEMPLATE -->
<!--=================================================================-->
<template name="FAQDeleteActivity">
	<div class="row faq-section">
		<div class="col-xs-12">
		   {{> subSectionTitle text="How_To_Delete_Activity"}}
		   {{_ "How_To_Delete_Activity_Answer"}}
		</div>
	</div>
</template>


<!--=================================================================-->
<!-- FAQ ACTIVITY NOT FOUND TEMPLATE -->
<!--=================================================================-->
<template name="FAQActivityNotFound">
	<div class="row faq-section">
		<div class="col-xs-12">
		   {{> subSectionTitle text="Cant_Find_Activity_On_The_Map"}}
		   {{_ "Cant_Find_Activity_On_The_Map_Answer"}}
		</div>
	</div>
</template>


<!--=================================================================-->
<!-- FAQ ACTIVITY SIGN IN TEMPLATE -->
<!--=================================================================-->
<template name="FAQActivitySignIn">
	<div class="row faq-section">
		<div class="col-xs-12">
		   {{> subSectionTitle text="How_To_Sign_In_For_An_Activity"}}
		   {{_ "How_To_Sign_In_For_An_Activity_Answer"}}
		</div>
	</div>
</template>


<!--=================================================================-->
<!-- FAQ ACTIVITY SIGN OUT TEMPLATE -->
<!--=================================================================-->
<template name="FAQActivitySignOut">
	<div class="row faq-section">
		<div class="col-xs-12">
		   {{> subSectionTitle text="How_To_Sign_Out_Of_An_Activity"}}
		   {{_ "How_To_Sign_Out_Of_An_Activity_Answer"}}
		</div>
	</div>
</template>


<!--=================================================================-->
<!-- FAQ ACTIVITY SIGN FRIEND IN TEMPLATE -->
<!--=================================================================-->
<template name="FAQActivitySignFriendIn">
	<div class="row faq-section">
		<div class="col-xs-12">
		   {{> subSectionTitle text="Can_I_Add_A_Friend"}}
		   {{_ "Can_I_Add_A_Friend_Answer"}}
		</div>
	</div>
</template>


<!--=================================================================-->
<!-- FAQ ACTIVITY SHARE TEMPLATE -->
<!--=================================================================-->
<template name="FAQActivityShare">
	<div class="row faq-section">
		<div class="col-xs-12">
		   {{> subSectionTitle text="How_To_Share_The_activity"}}
		   {{_ "How_To_Share_The_activity_Answer"}}
		</div>
	</div>
</template>
