<!--=================================================================-->
<!-- EDIT ACTIVITY NAVIGATION BAR TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editActivityNav}} -->
<!-- REQUIRED SUBS: '' -->
<template name="editActivityNav">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<!--<div class="container-fluid">-->
	      <table class="navbar-fixed-bottom-table">
	         <tr>
					{{> navBarItem section="data" text="Information" icon="ion-clipboard" active=data width="25%"}}
					{{> navBarItem section="participants" text="Participants" icon="ion-ios-people" active=participants width="25%"}}
					{{> navBarItem section="actions" text="Actions" icon="ion-alert-circled" active=actions width="25%"}}
					{{> navBarItem section="map" text="Location" icon="ion-earth" active=map width="25%"}}
	         </tr>
	      </table>
	   <!--</div>-->
	</nav>
</template>
