<!--=================================================================-->
<!-- USERS RESULTS LIST TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> usersResultsList mapBounds="mapBoundsObj"}}, where mapBounds = {bottomLeft: [lng, lat], topRight: [lng, lat]} -->
<!-- REQUIRED SUBS: template-level -->
<template name="usersResultsList">
	<div class="resultsContainer">
		{{#each playersArray}}
			{{> userCard player=this.player type=cardType border=this.border}}
		{{else}}
			{{#if Template.subscriptionsReady}}
				<br>
				<span class="noResults">{{_ "No_Users_Found_In_This_Region"}}</span>
			{{/if}}
		{{/each}}
		{{#if Template.subscriptionsReady}}
		   {{#if hasMorePlayers}}
		      <a class="load-more" href="#">{{_ "Load_More"}}</a>
		   {{/if}}
		{{else}}
			<br>
			<span class="loading">{{_ "Loading"}}</span>
		{{/if}}
		{{#visibleXs}}
		   {{> adCard type=cardType}}
		{{/visibleXs}}
	</div>
</template>
