<!--=================================================================-->
<!-- SIGN ME IN BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> signMeIn matchId='matchId' team='A/B'}} -->
<!-- REQUIRED SUBS: '' -->
<template name="signMeIn">
	<div class="row">
		<div class="col-xs-12">
      	<button class="btn btn-success" type="button"><i class="fa fa-thumbs-o-up"></i> {{_ "Im_In"}}</button>
			{{> loading status=loadingStatus}}
      </div>
   </div>
</template>
