<!--=================================================================-->
<!-- PROFILE DATE TABLE COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileDateTableComponent title="String" icon="iconClass" date="Date"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="profileDateTableComponent">
   {{#visibleXs}}
		<tr title="{{_ this.title}}">
			<td><i class="{{this.icon}}"></i>&nbsp;&nbsp;{{formatDate this.date}}</td>
		</tr>
   {{/visibleXs}}
   {{#hiddenXs}}
		<tr title="{{_ this.title}}">
		   <td><i class="{{this.icon}}"></i></td>
			<td>{{formatDate this.date}}</td>
		</tr>
   {{/hiddenXs}}
</template>
