<!--=================================================================-->
<!-- USERS RESULTS HEADER TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> usersResultsHeader mapBounds="mapBoundsObj"}}, where mapBounds = {bottomLeft: [lng, lat], topRight: [lng, lat]} -->
<!-- REQUIRED SUBS: 'totalUsersCounter' + template-level -->
<template name="usersResultsHeader">
	<div class="resultsCounter">
		<i class="ion-location {{sizeClass}}"></i>&nbsp;
		<span class="results {{sizeClass}}">
			{{numberOfPlayers}}&nbsp;
			{{#if plural}}
				{{_ "Results"}}
			{{else}}
				{{_ "Result"}}
			{{/if}}
		</span>&nbsp;
		<span class="allOver {{sizeClass}}">( {{totalNumberOfPlayers}}&nbsp;{{_ "All_Over_The_World"}} )</span>
	</div>
</template>
