<!--=================================================================-->
<!-- ACTIVITIES MAP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activitiesMap}} -->
<!-- REQUIRED SUBS: 'totalUpcomingActivitiesCounter' -->
<!-- COMMENTS: device-type-dispatcher -->
<template name="activitiesMap">
	{{#visibleXs}}
		<div id="googleMapMatches" class="googleMapsInner"></div>
	{{/visibleXs}}
	{{#hiddenXs}}
		<div id="googleMapMatches" class="googleMapsFullWidthFullHeight"></div>
	{{/hiddenXs}}
</template>
