<!--=================================================================-->
<!-- MORE ITEM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> moreItem route="route" text="String" icon="class"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="moreItem">
	<a class="anchorWrap" href="{{pathFor this.route}}">
	   <span class="spanWrap">
         <div class="moreItem {{active}}">
            <span><i class="{{this.icon}}"></i>&nbsp;&nbsp;{{_ this.text}}</span>
         </div>
      </span>
   </a>
</template>
