/*====================================================================*/
/* MORE ITEM */
/*====================================================================*/
.moreItem {
	padding: 20px 20px;
	border-bottom: 1px solid #EEE;
	color: #456;
	font-size: 18px;
}
.moreItem.active {
	background-color: #E9EBEF;
}
