<!--=================================================================-->
<!-- HEADER ITEM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> headerItem section="participants/data/..." text="String" icon="classIcon" href="href" param="param" active="active/" type="mobile/tablet/desktop"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="headerItem">
   {{#if mobile}}
      <a class="navbar-item-wrapper" id="{{this.section}}" href="{{this.href}}{{this.param}}">
         <div class="row navbar-item-container">
            <div class="navbar-item-icon-container col-xs-12">
               <i class="navbar-item-icon {{this.icon}} white {{this.active}}"></i>
            </div>
            <div class="navbar-item-text-container col-xs-12">
               <span class="navbar-item-text text-uppercase white {{this.active}}">{{_ this.text}}</span>
            </div>
         </div>
      </a>
   {{else}}
      {{#if tablet}}
         <a class="/*navbar-item-wrapper*/" id="{{this.section}}" href="{{this.href}}{{this.param}}">
            <div class="row /*navbar-item-container*/">
               <div class="navbar-item-icon-container col-xs-12" style="padding-left: 10px; padding-right: 10px;">
                  <i class="navbar-item-icon {{this.icon}} grey {{this.active}}"></i>
               </div>
               <div class="navbar-item-text-container col-xs-12" style="padding-left: 10px; padding-right: 10px;">
                  <span class="navbar-item-text text-uppercase grey {{this.active}}">{{_ this.text}}</span>
               </div>
            </div>
         </a>
      {{/if}}
   {{/if}}
</template>
