<!--=================================================================-->
<!-- SIGN ME OUT WAITING LIST BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> signMeOutWaitingList matchId='matchId' team="A/B"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="signMeOutWaitingList">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-danger" type="button"><i class="fa fa-thumbs-o-down"></i> {{_ "Remove_Me_From_The_Waiting_List"}}</button>
			{{> loading status=loadingStatus}}
      </div>
   </div>
</template>
