<!--=================================================================-->
<!-- NEW ACTIVITY DESKTOP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> newActivityDESKTOP}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="newActivityDESKTOP">
	<div class="window window-sharedWidth-leftSide sharedWindow-60x40-left">
		<div class="withPadding page-wrap">
			{{> newActivityBreadCrumbs}}
			{{> sectionTitle text="Create_Activity"}}
			{{> checkUser message="Log_In_To_Create_Activity"}}
			{{> newActivityPrePopulate}}
			{{> newActivityForm}}
		</div>
		{{> footer}}
	</div>
	<div class="window window-sharedWidth-rightSide sharedWindow-60x40-right">
		{{> newActivityMap}}
	</div>
</template>
