<!--=================================================================-->
<!-- ADDRESS FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> addressFormComponent label="String" [address="String"]}} -->
<!-- REQUIRED SUBS: '' -->
<template name="addressFormComponent">
   <div class="form-group">
		<label for="address">{{this.label}} {{_ "Exact_Address"}}</label>
		<input class="form-control input-lg" name="address" id="address" type="text" maxlength="70" placeholder="{{_ 'Number_Street_City'}}" autocomplete="off" required>
	</div>
</template>
