<!--=================================================================-->
<!-- CANCEL ACTIVITY BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> cancelActivity matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="cancelActivity">
	<!--{{#if viewerIsOwner}}-->
	   {{#if matchIsActive}}
	  		<button class="btn btn-warning" type="button"><i class="ion-alert-circled"></i> {{_ "Cancel_Activity"}}</button>
		{{/if}}
	<!--{{/if}}-->
</template>
