<!--=================================================================-->
<!-- PROFILE TABS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileTabs}}-->
<!-- REQUIRED SUBS: '' -->
<template name="profileTabs">
	<ul class="nav nav-tabs nav-justified">
	  <li role="presentation" class="upcoming {{#if upcoming}}active{{/if}}"><a href="#">{{_ "Upcoming_Activities"}}</a></li>
	  <li role="presentation" class="past {{#if past}}active{{/if}}"><a href="#">{{_ "Past_Activities"}}</a></li>
	</ul>
</template>
