<!--=================================================================-->
<!-- USER CARD DATA TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> userCardData player='playerObj'}} -->
<!-- REQUIRED SUBS: '' -->
<template name="userCardData">
	<p class="playerCard-dataName text-uppercase">{{this.player.profile.name}}</p>
	{{#if selfDescriptionIsSet}}
		<p class="playerCard-selfDescription">{{this.player.profile.selfDescription}}</p>
	{{/if}}
	<hr style="border-color: #D8D8D8; margin: 2px;">
	<span><i class="fa fa-calendar"></i>&nbsp;{{formatDate this.player.createdAt}}</span>
	{{#if dominantLegIsSet}}
		<span><i class="fi-foot"></i>&nbsp;{{_ this.player.profile.dominantLeg}}</span>
	{{/if}}
	{{#if dominantHandIsSet}}
		<span><i class="ion-android-hand"></i>&nbsp;{{_ this.player.profile.dominantHand}}</span>
	{{/if}}
	{{#if birthdayIsSet}}
		<span><i class="fa fa-birthday-cake"></i>&nbsp;{{this.player.profile.birthday}}</span>
	{{/if}}
	{{#if genderIsSet}}
		<span><i class="fa fa-venus-mars"></i>&nbsp;{{_ this.player.profile.gender}}</span>
	{{/if}}
	<p>
		{{#each this.player.profile.sports}}
			<span class="label label-info">{{_ this}}</span>
		{{/each}}
	</p>
</template>
