/*====================================================================*/
/* PLAYER CARD DATA */
/*====================================================================*/
.playerCard-dataName {
	font-weight: 700;
	color: #383838;
	margin-top: -7px;
	margin-bottom: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
}
.playerCard.large .playerCard-dataName {
	font-size: 22px;
}
.playerCard.small .playerCard-dataName {
	font-size: 18px;
}

.playerCard span {
	color: #585858 ;
	display: inline-block;
	margin-right: 10px;
}
.playerCard.large span {
	font-size: 14px;
	margin-right: 5px !important;
}
.playerCard.small span {
	font-size: 12px;
	margin-right: 0px !important;
}

.playerCard-selfDescription {
	color: #585858;
	margin-bottom: 0px;
}
.playerCard.large .playerCard-selfDescription {
	font-size: 16px;
}
.playerCard.small .playerCard-selfDescription {
	font-size: 13px;
}
