<!--=================================================================-->
<!-- ACTIVITIES RESULTS HEADER TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activitiesResultsHeader mapBounds="mapBoundsObj"}}, where mapBounds = {bottomLeft: [lng, lat], topRight: [lng, lat]} -->
<!-- REQUIRED SUBS: 'totalUpcomingActivitiesCounter' + template-level -->
<template name="activitiesResultsHeader">
   <div class="resultsCounter">
		<i class="ion-location {{sizeClass}}"></i>&nbsp;
		<span class="results {{sizeClass}}">
			{{numberOfMatches}}&nbsp;
			{{#if plural}}
				{{_ "Results"}}
			{{else}}
				{{_ "Result"}}
			{{/if}}
		</span>&nbsp;
		<span class="allOver {{sizeClass}}">( {{totalNumberOfMatches}}&nbsp;{{_ "All_Over_The_World"}} )</span>
	</div>
</template>
