<!--=================================================================-->
<!-- EDIT PROFILE FORM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editProfileForm}} -->
<!-- REQUIRED SUBS: template-level -->
<template name="editProfileForm">
	<div class="row">
		<div class="col-xs-12">
			{{> subSectionTitle text="Personal_Info"}}
         {{#if Template.subscriptionsReady}}
            <form class="form-horizontal">
               {{#with profile}}
                  <!-- Name -->
                  <div class="form-group">
                     <label class="col-xs-12 control-label">{{_ "Name"}}:</label>
                     <div class="col-xs-12">
                        <input class="form-control input-lg" id="username" type="text" maxlength="50" value="{{name}}">
                     </div>
                  </div>
                  <!-- Gender -->
                  <div class="form-group">
                     <label class="col-xs-12 control-label">{{_ "Gender"}}:</label>
                     <div class="col-xs-12">
                        <label class="radio-inline">
                           <input id="gender_m" type="radio" name="gender" value="male" {{isChecked gender 'male'}}>{{_ "Male"}}
                        </label>
                        <label class="radio-inline">
                           <input id="gender_f" type="radio" name="gender" value="female" {{isChecked gender 'female'}}>{{_ "Female"}}
                        </label>
                     </div>
                  </div>
                  <!-- Sports -->
                  <div class="form-group">
                     <label class="col-xs-12 control-label">{{_ "Sports"}}:</label>
                     <div class="col-xs-12">
								{{#each sportsArray}} <!-- see client/common/helpers/sports_array.js -->
									{{> editProfileFormSportItem optionValue=this selectedSports=selectedSports}}
								{{/each}}
                     </div>
                  </div>
                  <!-- Dominant Leg -->
                  <div class="form-group">
                     <label class="col-xs-12 control-label">{{_ "Dominant_Leg"}}:</label>
                     <div class="col-xs-12">
                        <label class="radio-inline">
                           <input id="foot_l" type="radio" name="dominant_leg" value="left" {{isChecked dominantLeg 'left'}}>{{_ "Left"}}
                        </label>
                        <label class="radio-inline">
                           <input id="foot_r" type="radio" name="dominant_leg" value="right" {{isChecked dominantLeg 'right'}}>{{_ "Right"}}
                        </label>
                        <label class="radio-inline">
                           <input id="foot_b" type="radio" name="dominant_leg" value="both" {{isChecked dominantLeg 'both'}}>{{_ "Both"}}
                        </label>
                     </div>
                  </div>
                  <!-- Dominant Hand -->
                  <div class="form-group">
                     <label class="col-xs-12 control-label">{{_ "Dominant_Hand"}}:</label>
                     <div class="col-xs-12">
                        <label class="radio-inline">
                           <input id="hand_l" type="radio" name="dominant_hand" value="left" {{isChecked dominantHand 'left'}}>{{_ "Left"}}
                        </label>
                        <label class="radio-inline">
                           <input id="hand_r" type="radio" name="dominant_hand" value="right" {{isChecked dominantHand 'right'}}>{{_ "Right"}}
                        </label>
                        <label class="radio-inline">
                           <input id="hand_b" type="radio" name="dominant_hand" value="both" {{isChecked dominantHand 'both'}}>{{_ "Both"}}
                        </label>
                     </div>
                  </div>
                  <!-- Self Description -->
                  <div class="form-group">
                     <label class="col-xs-12 control-label">{{_ "Self_Description"}}:</label>
                     <div class="col-xs-12">
                        <textarea class="form-control input-lg" rows="4" id="self_description" type="text" maxlength="600" placeholder="{{_ 'Write_Your_Welcome_Message_Here'}}">{{selfDescription}}</textarea>
                     </div>
                  </div>
               {{/with}}
               <button type="submit" class="btn btn-success"><i class="ion-checkmark"></i> {{_ "Save"}}</button>
					{{> loading status=loadingStatus}}
            </form>
         {{else}}
            {{_ "Loading"}}
         {{/if}}
		</div>
	</div>
</template>

<!--=================================================================-->
<!-- EDIT PROFILE FORM SPORT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editProfileFormSportItem optionValue="football/volleyball/..." selectedSports="array"}} -->
<!-- REQUIRED SUBS: template-level -->
<template name="editProfileFormSportItem">
   <label class="checkbox-inline">
      <input id="sport_{{this.optionValue}}" type="checkbox" name="sports" value="{{this.optionValue}}" {{isChecked this.selectedSports this.optionValue}}>{{_ this.optionValue}}
   </label>
</template>
