<!--=================================================================-->
<!-- EDIT ACTIVITY MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editActivityMOBILE matchId="matchId"}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: works as a templates-container -->
<template name="editActivityMOBILE">
	<div class="window window-fullWidth window-fullHeight-withFooter window-fixedFooter">
		<div class="withPadding">
			{{#if data}}
				{{> editActivityData matchId=this.matchId}}
			{{else}}
				{{#if participants}}
					{{> editActivityParticipants matchId=this.matchId}}
				{{else}}
					{{#if actions}}
						{{> editActivityActions matchId=this.matchId}}
					{{else}}
						{{#if map}}
							<div class="window window-fullWidth window-fullHeight-withFooter">
								{{> editActivityMap matchId=this.matchId}}
							</div>
						{{else}}
							Unknown section
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
	</div>
	{{> editActivityNav}}
</template>
