<!--=================================================================-->
<!-- ACTIVITY FORECAST TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityForecast}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="activityForecast">
   <div style="font-family: Arial; width: 300px; height: 465px; overflow: hidden; margin-left: auto; margin-right: auto;">
      <div style="width: 300px;height: 465px;">
         <!--<div style="margin:7px 10px;">-->
            <div style="color: #222222;font-family: Arial;font-size: 12px;font-weight: bold;margin: 0px 0px 7px 0px;line-height: 14px;">
               Weather forecast and rain radar
               <br/>
               <span style="font-weight:normal;">Enschede</span>
            </div>
            <iframe id="widget-frame" src="http://www.meteovista.co.uk/Go/ExternalWidgetsNew/RainAnd2DaysCity?gid=4057346&temperatureScale=Celsius&defaultSettings=False" width="300" height="350" frameborder="0" scrolling="no" style="border: none;" allowtransparency="true"></iframe>
            <a href="http://www.meteovista.co.uk/Europe/Netherlands/Enschede/4057346" style="background: url(http://www.meteovista.co.uk/Shared/Images/list_icon_blue_trans.png) no-repeat scroll left 1px transparent;color: #0160b2;font-family: Arial;font-size: 12px;font-weight: normal;padding-left: 14px;margin: 7px 0px 5px 0px;line-height: 12px;outline: none;text-decoration: none;display: inline-block;" target="_blank">Meteovista.co.uk - More weather in Enschede</a>
            <a href="http://www.meteovista.co.uk/" style="display: block;height: 25px;width: 113px;margin: 0px 10px 8px 0px;outline: none;text-decoration: none;" title="Meteovista.co.uk Always your weather" target="_blank">
               <img src="http://www.meteovista.co.uk/Shared/Images/variations/en-GB/new-widget-logo-UK-color.png" width="113" height="25" alt="Meteovista.co.uk Always your weather" style="border: none;background-color: transparent;box-shadow: none;" />
            </a>
         <!--</div>-->
      </div>
   </div>
</template>
