<!--=================================================================-->
<!-- EDIT ACTIVITY BREAD CRUMBS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editActivityBreadCrumbs matchId="matchId"}} -->
<template name="editActivityBreadCrumbs">
	<p><a href="{{pathFor 'home'}}">{{_ "Home"}}</a> &gt; <a href="{{pathFor 'activities'}}">{{_ "Public_Activities"}}</a> &gt; <a href="/activities/activity/{{this.matchId}}">{{_ "Activity_Details"}}</a> &gt; {{_ "Admin_Activity"}}</p>
</template>
