<!--=================================================================-->
<!-- POSTS FORM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> postsForm matchId="matchId"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="postsForm">
	{{#if currentUser}}
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-xs-12">
					<textarea class="form-control input-lg" type="text" rows="7" placeholder="{{_ 'Write_Your_Comment_Here'}}" maxlength="2000"></textarea>
				</div>
			</div>
			<button class="btn btn-primary" type="submit"><i class="fa fa-send-o"></i> {{_ 'Publish'}}</button>
		</form>
	{{else}}
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-xs-12">
					<textarea class="form-control input-lg" type="text" rows="7" placeholder="{{_ 'Log_In_To_Comment'}}" maxlength="0" disabled></textarea>
				</div>
			</div>
		</form>
	{{/if}}
</template>
