<!--=================================================================-->
<!-- ACTIVITY NOT FOUND TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityNotFound}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: device-type-dispatcher -->
<template name="activityNotFound">
   <div class="window window-fullWidth window-fullHeight">
		<div class="withPadding {{#unless isXs}}page-wrap{{/unless}}">
			{{> sectionTitle text="Activity_Not_found"}}
		</div>
		{{#unless isXs}}
			{{> footer}}
		{{/unless}}
	</div>
</template>
