<!--=================================================================-->
<!-- PROFILE NOT FOUND TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileNotFound}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: device-type-dispatcher -->
<template name="profileNotFound">
   <div class="window window-fullWidth window-fullHeight">
		<div class="withPadding {{#unless isXs}}page-wrap{{/unless}}">
			{{> sectionTitle text="Profile_Not_found"}}
		</div>
		{{#unless isXs}}
			{{> footer}}
		{{/unless}}
	</div>
</template>
