<!--=================================================================-->
<!-- ACTIVITY TABS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityTabs}} -->
<!-- REQUIRED SUBS: '' -->
<template name="activityTabs">
	<ul class="nav nav-tabs nav-justified">
	   <li role="presentation" class="data {{#if data}}active{{/if}}"><a href="#">{{> subSectionTitle text="Information"}}</a></li>
		<li role="presentation" class="comments {{#if comments}}active{{/if}}"><a href="#">{{> subSectionTitle text="Comments"}}</a></li>
	</ul>
   <br>
</template>
