<!--=================================================================-->
<!-- SIGN ME IN WAITING LIST BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> signMeInWaitingList matchId='matchId' team='A/B'}} -->
<!-- REQUIRED SUBS: '' -->
<template name="signMeInWaitingList">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-success" type="button"><i class="fa fa-thumbs-o-up"></i> {{_ "Add_Me_To_The_Waiting_List"}}</button>
			{{> loading status=loadingStatus}}
      </div>
   </div>
</template>
