<!--=================================================================-->
<!-- DELETE ACTIVITY BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> deleteActivity matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="deleteActivity">
	{{#if viewerIsOwner}}
		<button class="btn btn-danger" type="button"><i class="ion-trash-a"></i> {{_ "Delete_Activity"}}</button>
	{{/if}}
</template>
