<!--
TEMPLATE NAME: ADVERTISEMENT CARD
USAGE: {{> adCard location='Obj' type='desktop/mobile'}}, where location-obj = {lat, lng}
REQUIRED SUBS: 'template-level'
-->
<template name="adCard">
	{{#if adsNotEmpty}}
		<a class="anchorWrap" href="{{adAnchor}}" target="{{#if external}}_blank{{/if}}">
			<span class="spanWrap">
				{{#if mobile}}
					<div class="adCard adCard-mobile">
	               <img class="center-block" src="/ads/{{mobileImg}}" height="60px" style="max-width: 100%;">
	               <!--<img class="center-block" src="/ads/drienerlo3.JPG" height="90px" style="max-width: 100%;">-->
					</div>
				{{else}}
					{{#if desktop}}
	         	   <div class="adCard adCard-desktop">
	                  <img class="center-block" src="/ads/{{desktopImg}}" height="100px">
	                  <!--<img class="center-block" src="/ads/drienerlo3.JPG" height="90px" style="max-width: 100%;">-->
	               </div>
					{{else}}
						Unknown adCard type! {{this.type}}
					{{/if}}
				{{/if}}
			</span>
		</a>
	{{/if}}
</template>
