/*====================================================================*/
/* ADVERTISEMENT CARD */
/*====================================================================*/
.adCard {
	overflow: hidden;
   /*border: 1px solid silver;
   background-color: black;*/
   /*margin-bottom: 15px;*/
}
/* MOBILE */
.adCard-mobile {
	/*border: 1px solid silver;*/
   margin-top: 15px;
	/*margin: 15px 0px;*/
}
/*.matchCard-mobile .infoContainer {
	padding: 10px 15px;
}*/

/* DESKTOP */
.adCard-desktop {
	/*margin: 0px 0px 15px 0px;*/
	/*padding: 15px 0px;*/
   margin-bottom: 15px;
   /*margin-bottom: 15px;*/
}
/*.matchCard-withBorder {
	border-bottom: 1px dotted #d3d3d3;
}*/
