<!--=================================================================-->
<!-- TERMS AND CONDITIONS TEMPLATE -->
<!--=================================================================-->
<template name="termsAndConditions">
	{{#if mobile}}
		<div class="window window-fullWidth window-fullHeight">
         <div class="withPadding">
            {{> keyIdeas}}
            {{> glosary}}
            {{> preamble}}
            {{> introduction}}
            {{> serviceDescription}}
						{{> content }}
            {{> intellectualProperty}}
            {{> responsibilities}}
            {{> userEngagement}}
            <!--{{> personalInfo}}
            {{> cookies}}
            {{> law}}-->
         </div>
      </div>
   {{else}}
      {{#if desktop}}
         {{> sectionTitle text="Terms of Service (TOS)"}}
				 {{> keyIdeas}}
				 {{> glosary}}
				 {{> preamble}}
				 {{> introduction}}
				 {{> serviceDescription}}
				 {{> content }}
				 {{> intellectualProperty}}
				 {{> responsibilities}}
				 {{> userEngagement}}
				 <!--{{> personalInfo}}
				 {{> cookies}}
				 {{> law}}-->
      {{/if}}
   {{/if}}
</template>


<template name="keyIdeas">
   {{> subSectionTitle text="Key Ideas"}}
   <ul>
      <li>fulbacho.net is a free website that allows you to easily
      organize your games with friends.</li>
      <li>Everything is made ​​to publish information in accordance with the facts
      and to frame the best publications of users, but only users are responsible
      for the content they publish. fulbacho.net is protected: You can not use the
      items it contains or copy.</li>
      <li>You must observe the rules of courtesy and respect the laws in force.</li>
      <!--<li>We do not disclose your information to third parties.</li>
      <li>You have the right to modify the information you publish. </li>-->
   </ul>
</template>

<template name="glosary">
   {{> subSectionTitle text="Glossary"}}
   <ul style="list-style-type: none;">
      <li><b>User:</b> Internet connecting, using the site fulbacho.net</li>
      <!--<li><b>Personal Information:</b> "information that enables any form whatsoever,
      directly or indirectly, the identification of individuals to which it applies"
      (Article 4 of Law No. 78-17 January 6, 1978 ) .</li>
      <li><b>fulbacho.net or fulbacho:</b> Services published by the association
      ""</li>-->
   </ul>
</template>

<template name="preamble">
   {{> subSectionTitle text="Preamble"}}
   <p>Terms and conditions were last updated on 25/05/2018. fulbacho.net offers
free services implementing all multimedia Internet technologies to facilitate the
exchange of information and linking people around the different sports.</p>
</template>


<template name="introduction">
   {{> subSectionTitle text="Introduction"}}
   <p>These terms and conditions govern your access to and use of services offered
   on fulbacho.net. Your access to and use of the fulbacho.net Site Services is
   conditioned on your acceptance and compliance with these terms and conditions.
   By accessing the services provided by fulbacho.net you agree to be bound by these
   terms and conditions.</p>

   <p>These terms and conditions may be amended or supplemented at any time, therefore
   fulbacho users are advised to consult regularly. </p>

   <p>This site is normally accessible at all times to users. Interruption due to
   technical maintenance can however be decided by fulbacho.net, who then attempt
   to communicate to users before the date and time of the intervention.</p>

   <p>fulbacho.net site is updated regularly. Similarly, the disclaimer may be
   modified at any time: they are needed, however, the user is encouraged to refer
   to it as often as possible in order to become acquainted.</p>
</template>

<template name="serviceDescription">
   {{> subSectionTitle text="1. Description of the services."}}

   <p>fulbacho.net site aims to allow free players to organize their games and meet
   other players close to home. Features are detailed on the dedicated page.</p>
</template>

<template name="content">
   {{> subSectionTitle text="2. Content"}}
   <p>fulbacho.net strives to provide as accurate information as possible. However,
   it can not be held responsible for omissions, inaccuracies and deficiencies in
   the update, whether its fact or third party partners that provide this information.</p>

   <p>All fulbacho.net information listed on the site are for information only and
   are subject to change. Furthermore, the information on the website fulbacho.net
   are not exhaustive. They are given subject to changes being made ​​since they
   are online.</p>

   <p>In addition, all content, whether they be published or disclosed publicly
   or privately contents are under the sole responsibility of the person making
   the disclosure of the content. fulbacho.net is unable to monitor or control the
   content posted by users and does not assume any responsibility in relation to
   such content. You acknowledge that any use of published on fulbacho.net content
   is at your own risk. </p>

   <p>Completeness, truthfulness, accuracy, or reliability of the content or information
   published on fulbacho.net is not endorse, support, represent or guarantee by
   fulbacho.net. fulbacho.net endorse any opinions expressed via the site. You
   understand that by using the Site, you may be exposed to inaccurate or inappropriate
   that might be offensive content, or, in some cases, have been mislabeled
   or deceptive messages. In no event fulbacho.net can not be held responsible
   in any way for any loss or damage of any nature whatsoever resulting from the
   use of content, including, without limitation, in the case of error or omission
   in the content, that these contents are posted, emailed, transmitted or made
   available in any other way. </p>
</template>


<template name="intellectualProperty">
   {{> subSectionTitle text="3. Intellectual property and counterfeiting."}}

   <p>fulbacho.net owns the intellectual property rights or owns the rights to use
   all the items available on the site, including text, images, graphics, logos,
   icons, sounds and software.</p>

   <p>Any reproduction, modification, publication, adaptation of all or part of
   the Site, regardless of the means or process, is prohibited without prior written
   authorization from: Federico Rodes, Cecilia Laborde.</p>

   <p>Any unauthorized use of the site or any of its materials will be deemed to
   constitute an infringement and prosecuted in accordance with Articles L.335-2
   and following of the Intellectual Property Code.</p>
</template>



<template name="responsibilities">

   {{> subSectionTitle text="4. Responsibilities."}}

   <p>fulbacho.net can not be held liable for direct and indirect damage to the
   equipment user, when accessing the site fulbacho.net, or the appearance of
   a bug or incompatibility.</p>
</template>



<template name="userEngagement">
   {{> subSectionTitle text="5. User engagement"}}

   <p>Once registered, the user will benefit from access to services available on
   fulbacho.net. In the context of service use, the user agrees to respect the
   following rules: </p>
   <ul>
      <li>Comply with laws and respect the rights of others.</li>
      <li>fulbacho.net Do not use for professional or commercial or ideological
      purposes: canvassing, soliciting, prostitution, propaganda ... </li>
      <li>Not to post, disseminate, or broadcast in any form whatsoever information
      or content not conform to reality.</li>
      <li>Do not make statements or disseminate in any form whatsoever content that
      contravenes the rights of others or is defamatory, abusive, obscene, pedophile,
      homophobic, xenophobic, bestiality, violent or inciting violence.</li>
      <li>Not to post, or distribute in any form whatsoever information or content
      that has the effect of diminishing, disorganizing or preventing normal use
      of the site to stop and / or slow traffic normal communication between users.
      fulbacho.net reserves the right to delete messages sent in mass by a user
      in order to preserve the quality of use of the service to other users.</li>
      <li>Not to post, or distribute in any form whatsoever information or content
      that incorporates links to third party websites that are illegal, contrary
      to the nature of morality and / or inconsistent with the object of fulbacho.net.
      fulbacho.net can not be held liable for false statements made by a user.
      It is important to take certain precautions when organized games with players
      you do not know. </li>
   </ul>
   <p>fulbacho.net assumes no responsibility for meetings between users on the site
   or outdoors site.</p>
</template>



<template name="personalInfo">
   {{> subSectionTitle text="6. Personal Information Management."}}

   <h3>Collection of your personal data</h3>
   <p>When you visit the website fulbacho.net , fulbacho.net may need to ask you
   some information about you to be able to identify, offer personalized access.
   The personal data ( names, e-mail ... ) or not registered you will be requested.
   Certain information about you will be compulsorily sent to you to access to the
   service. Information are mandatory are marked with an asterisk. </p>

   <h3>Using your personal data</h3>
   <p>The personal data collected in connection with your registration will only
   be used to meet the objectives of the association and facilitate your user
   experience</p>

   <h3>Transmission of your personal data</h3>
   <p>The personal data about you collected on the website fulbacho.net will not
   be communicated to third parties. </p>

   <h3>Rights of access and rectification</h3>
   <p>In accordance with the Data Protection Act 78-17 of 6 January 1978, you have
   a right to access and correct personal information about you. You can carry over
   your personal space or by contacting us by mail: hello@fulbacho.net or by mail.
   Fulbacho , Address, the Netherlands. </p>

</template>



<template name="cookies">
   {{> subSectionTitle text="7. Hypertext links and cookies"}}

   <p>fulbacho.net site contains a number of hypertext links to other sites, set
   up with the permission of fulbacho.net . However, fulbacho.net not able to verify
   the content of the sites visited , and assumes no responsibility therefore
   accordingly.</p>

   <p>Browsing fulbacho.net site may cause the installation of cookie(s) on the
   user's computer . A cookie is a small file , which does not allow the identification
   of the user, but which records information about the navigation of a computer
   on a site. The data obtained are intended to facilitate subsequent browsing of
   the site and also enable various measures of attendance .</p>

   <p>Refusing to use a cookie may make it impossible to access certain services.
   However, users may configure the computer in the following manner , to refuse
   the use of cookies : To do this, you must change the privacy settings of your
   browser to block cookies.</p>
</template>



<template name="law">
   {{> subSectionTitle text="8. Governing Law and Jurisdiction"}}

   <p>Any dispute in connection with use of the site fulbacho.net. is subject to
   Nehterlands law. It shall have exclusive jurisdiction to the courts of Versailles.</p>
</template>
