<!--=================================================================-->
<!-- NAVIGATION BAR NEW ACTIVITY TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> navBarNewActivity width="buttonWidth"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="navBarNewActivity">
   <td role="presentation" class="{{active}}" width="{{this.width}}">
      <a class="navbar-item-wrapper" href="#">
         <div class="row navbar-item-container">
            <div class="navbar-item-icon-container col-xs-12">
               <i class="navbar-item-icon ion-wand"></i>
            </div>
            <div class="navbar-item-text-container col-xs-12">
               <span class="navbar-item-text">{{_ "Create_Activity"}}</span>
            </div>
         </div>
      </a>
   </td>
</template>
