<!--=================================================================-->
<!-- USERS BREAD CRUMBS TEMPLATE -->
<!--=================================================================-->
<template name="usersBreadCrumbs">
	<p><a href="{{pathFor 'home'}}">{{_ "Home"}}</a> &gt; {{_ "List_Of_Users"}}</p>
</template>
