<!--=================================================================-->
<!-- FIELD PHONE FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> fieldPhoneFormComponent label="String" fieldPhone="String"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="fieldPhoneFormComponent">
   <div class="form-group">
      <label for="field_phone">{{this.label}} {{_ "Field_Phone"}}</label>
      <input class="form-control input-lg" name="field_phone" id="field_phone" type="text" maxlength="40" autocomplete="off" placeholder="Tel.">
   </div>
</template>
