<!--=================================================================-->
<!-- USERS MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> usersMOBILE}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template container -->
<template name="usersMOBILE">
	<div class="window window-fullWidth window-fullHeight-withFooter window-fixedFooter">
		{{> usersMap}}
		<div id="results-list"> <!-- this reference is used in see_results_nav_component.js to scroll the page down -->
			{{> usersResultsHeader mapBounds=mapBounds}} <!-- see client/common/helpers/map_bounds.js -->
			<!--<div class="container-fluid">-->
			<div class="withSidePadding withBottomPadding">
				{{> usersResultsList mapBounds=mapBounds}} <!-- see client/common/helpers/map_bounds.js -->
			</div>
		</div>
	</div>
	{{> usersNav}}
</template>
