<!--=================================================================-->
<!-- PRIVACY FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> privacyFormComponent label="String" privacy="public/private"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="privacyFormComponent">
	<div class="form-group">
		<label for="privacy">{{this.label}} {{_ "Privacy"}}</label>
		<select class="form-control input-lg" name="privacy" id="privacy">
			<option value="public">{{_ "Public"}}</option>
			<option value="private">{{_ "Private"}}</option>
		</select>
		<span class="hint">{{_ "Public_Activity_Explanation"}}.</span>
		<br>
		<span class="hint">{{_ "Private_Activity_Explanation"}}.</span>
	</div>
</template>
