<!--=================================================================-->
<!-- DUMMY PLAYER TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> dummyPlayer data="dataObj"}} where dataObj = {matchId, team} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="dummyPlayer">
	<div class="dummyPlayer large circle img-center">
		{{_ "Join"}}
	</div>
</template>
