<!--=================================================================-->
<!-- EMAIL NOTIFICATIONS FORM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> emailNotifForm}} -->
<!-- REQUIRED SUBS: template-level -->
<!-- COMMENTS: list of email notifications settings -->
<template name="emailNotifForm">
	<div class="row">
		<div class="col-xs-12">
			{{> subSectionTitle text="Notify_Me_Every_Time"}}
			{{#if Template.subscriptionsReady}}
				{{#with settings}}
			   	<form class="form-horizontal">
			   		<div class="form-group">
			   			<div class="col-xs-12">
			   				<label class="checkbox-inline">
									<input type="checkbox" name="settings" value="gameNewGamePlayingZone" {{isChecked gameNewGamePlayingZone true}}>{{_ "New_Activity_Is_Created_In_My_Region"}}
			   				</label>
			   			</div>
			   			<div class="col-xs-12">
			   				<label class="checkbox-inline">
									<input type="checkbox" name="settings" value="gameNewComment" {{isChecked gameNewComment true}}>{{_ "New_Comment_In_One_Of_My_Activities"}}
			   				</label>
			   			</div>
			   			<div class="col-xs-12">
			   				<label class="checkbox-inline">
									<input type="checkbox" name="settings" value="gameWasCanceled" {{isChecked gameWasCanceled true}}>{{_ "One_Of_My_Activities_Is_canceled"}}
			   				</label>
			   			</div>
			   			<div class="col-xs-12">
			   				<label class="checkbox-inline">
									<input type="checkbox" name="settings" value="gameAddRemovePlayer" {{isChecked gameAddRemovePlayer true}}>{{_ "The_List_Of_Participants_Is_Modified"}}
			   				</label>
			   			</div>
			   			<div class="col-xs-12">
			   				<label class="checkbox-inline">
									<input type="checkbox" name="settings" value="gameAddedMe" {{isChecked gameAddedMe true}}>{{_ "Someone_Adds_Me_To_The_List_Of_Participants"}}
			   				</label>
			   			</div>
			   			<div class="col-xs-12">
			   				<label class="checkbox-inline">
									<input type="checkbox" name="settings" value="gamePassFromWaitingToPlaying" {{isChecked gamePassFromWaitingToPlaying true}}>{{_ "I_Pass_From_The_waiting_List_To_The_List_Of_Participants"}}
			   				</label>
			   			</div>
			   			<div class="col-xs-12">
			   				<label class="checkbox-inline">
									<input type="checkbox" name="settings" value="gameNewGameRepeat" {{isChecked gameNewGameRepeat true}}>{{_ "My_Activity_Is_Recreated_Automatically"}}
			   				</label>
			   			</div>
			   		</div>
			         <button class="btn btn-success" type="submit"><i class="ion-checkmark"></i> {{_ "Save"}}</button>
						{{> loading status=loadingStatus}}
						<br>
						<span class="hint">{{_ "Notifications_Delivery_Period"}}</span>
			   	</form>
				{{/with}}
			{{else}}
				{{_ "Loading"}}
			{{/if}}
		</div>
	</div>
</template>
