<!--=================================================================-->
<!-- DATE FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> dateFormComponent label="String" [date="Date"]}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: template language-switcher -->
<template name="dateFormComponent">
	<div class="form-group">
		<label for="">{{this.label}} {{_ "Date"}}</label>
		{{#if english}}
			{{#if dateIsSet}}
				{{> datepicker lang="en" date=this.date}}
			{{else}}
				{{> datepicker lang="en"}}
			{{/if}}
		{{else}}
			{{#if spanish}}
				{{#if dateIsSet}}
					{{> datepicker lang="es" date=this.date}}
				{{else}}
					{{> datepicker lang="es"}}
				{{/if}}
			{{else}}
				{{#if dutch}}
					{{#if dateIsSet}}
						{{> datepicker lang="nl" date=this.date}}
					{{else}}
						{{> datepicker lang="nl"}}
					{{/if}}
				{{else}}
					{{#if german}}
						{{#if dateIsSet}}
							{{> datepicker lang="de" date=this.date}}
						{{else}}
							{{> datepicker lang="de"}}
						{{/if}}
					{{else}}
						{{#if italian}}
							{{#if dateIsSet}}
								{{> datepicker lang="it" date=this.date}}
							{{else}}
								{{> datepicker lang="it"}}
							{{/if}}
						{{else}}
							Unknown language!
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	</div>
</template>
