<!--=================================================================-->
<!-- ACTIVITY MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityMOBILE matchId="matchId"}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: subsection-dispatcher -->
<template name="activityMOBILE">
	<div class="window window-fullWidth window-fullHeight-withFooter window-fixedFooter">
		<div class="container-fluid withPadding">
			{{#if data}}
				{{> subSectionTitle text="Information"}}
				{{> activityData matchId=this.matchId}}
			{{else}}
				{{#if participants}}
					{{> activityTeams matchId=this.matchId}}
				{{else}}
					{{#if comments}}
						{{> subSectionTitle text="Comments"}}
						{{> posts matchId=this.matchId}}
					{{else}}
						{{#if map}}
							{{> activityMap matchId=this.matchId}}
						{{else}}
							{{#if forecast}}
								{{> activityForecast}}
							{{else}}
								Unknown section
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
		<!--{{> footer}}-->
	</div>
	{{> activityNav activityId=this.matchId}}
</template>
