<!--=================================================================-->
<!-- PARTICIPANTS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> participants matchId='matchId'}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="participants">
   <div class="participants">
      {{#each players}}
         <span class="spanWrapper">
            {{> avatar user=this shape="square" size="small" bgColor=randomBgColor txtColor="white"}}
         </span>
      {{/each}}
   </div>
</template>
