.participants {
   margin-top: 5px;
}
.participants > .spanWrapper {
   margin-right: 5px;
   margin-top: 5px;
   display: inline-block;
}
.participants > .spanWrapper > .imgContainer {
   border: 1px solid silver;
   width: 32px;
   height: 32px;
   background-color: white;
}
