<!--=================================================================-->
<!-- SPORT FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> sportFormComponent [sport="football/basquetball/..."] label="String"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="sportFormComponent">
	<div class="form-group">
		<label for="sport">{{this.label}} {{_ "Sport"}}</label>
		<select class="form-control input-lg" name="sport" id="sport">
			{{#each sportsArray}} <!-- see client/common/helpers.js -->
				{{> sportFormComponentItem optionValue=this selectedSport=selectedSport}}
			{{/each}}
		</select>
	</div>
</template>

<!--=================================================================-->
<!-- SPORT FORM COMPONENT ITEM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> sportFormComponentItem optionValue="football/basquetball/..." selectedSport="football/basquetball/..."}} -->
<!-- REQUIRED SUBS: '' -->
<template name="sportFormComponentItem">
	<option value="{{this.optionValue}}" {{isSelected this.selectedSport this.optionValue}}>{{_ this.optionValue}}</option>
</template>

<!--
<template name="sportFormComponent">
	<div class="form-group">
		<label for="sport">{{this.label}} {{_ "Sport"}}</label>
		<select class="form-control input-lg" name="sport" id="sport">
			<option value="football" {{isSelected this.sport 'football'}}>{{_ "football"}}</option>
         <option value="tennis" {{isSelected this.sport 'tennis'}}>{{_ "tennis"}}</option>
         <option value="volley" {{isSelected this.sport 'volley'}}>{{_ "volley"}}</option>
         <option value="basketball" {{isSelected this.sport 'basketball'}}>{{_ "basketball"}}</option>
			<option value="lasertag" {{isSelected this.sport 'lasertag'}}>{{_ "lasertag"}}</option>
			<option value="frisbee" {{isSelected this.sport 'frisbee'}}>{{_ "frisbee"}}</option>
			<option value="cricket" {{isSelected this.sport 'cricket'}}>{{_ "cricket"}}</option>
			<option value="baseball" {{isSelected this.sport 'baseball'}}>{{_ "baseball"}}</option>
			<option value="paddle" {{isSelected this.sport 'paddle'}}>{{_ "paddle"}}</option>
			<option value="cycling" {{isSelected this.sport 'cycling'}}>{{_ "cycling"}}</option>
			<option value="paintball" {{isSelected this.sport 'paintball'}}>{{_ "paintball"}}</option>
			<option value="b-fit" {{isSelected this.sport 'b-fit'}}>{{_ "b-fit"}}</option>
			<option value="bootcamp" {{isSelected this.sport 'bootcamp'}}>{{_ "bootcamp"}}</option>
			<option value="shotokan-karate" {{isSelected this.sport 'shotokan-karate'}}>{{_ "shotokan-karate"}}</option>
			<option value="horse-riding" {{isSelected this.sport 'horse-riding'}}>{{_ "horse-riding"}}</option>
			<option value="running" {{isSelected this.sport 'running'}}>{{_ "running"}}</option>
			//<option value="" {{isSelected this.sport ''}}>{{_ ""}}</option>
		</select>
	</div>
</template>
-->
