<!--=================================================================-->
<!-- NAVIGATION BAR ITEM TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> navBarItem section="participants/data/..." text="String" icon="classIcon" active="active/ " width="buttonWidth"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="navBarItem">
   <td role="presentation" class="{{this.active}}" width="{{this.width}}">
      <a class="navbar-item-wrapper" href="#">
         <div class="row navbar-item-container">
            <div class="navbar-item-icon-container col-xs-12">
               <i class="navbar-item-icon {{this.icon}}"></i>
            </div>
            <div class="navbar-item-text-container col-xs-12">
               <span class="navbar-item-text">{{_ this.text}}</span>
            </div>
         </div>
      </a>
   </td>
</template>


<!--
<template name="navBarItem">
   <td role="presentation" class="{{this.active}}" width="{{this.width}}">
      <a class="navbar-item-wrapper" id="{{this.section}}" href="#">
         <div class="row navbar-item-container">
            <div class="navbar-item-icon-container col-xs-12">
               <i class="navbar-item-icon {{this.icon}}"></i>
            </div>
            <div class="navbar-item-text-container col-xs-12">
               <span class="navbar-item-text">{{_ this.text}}</span>
            </div>
         </div>
      </a>
   </td>
</template>
-->
