<!--=================================================================-->
<!-- ACTIVITY TEAMS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{activityTeams matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<!-- COMMENTS: template container -->
<template name="activityTeams">
   <div class="row matchTeams">
      <div class="col-xs-12">
         {{> subSectionTitle text="Participants" class="text-center"}}         
      </div>
   	<div class="col-xs-6">
   		{{> team matchId=this.matchId team="A"}}
   		{{> waitingList matchId=this.matchId team="A"}}
   	</div>
   	<div class="col-xs-6">
   		{{> team matchId=this.matchId team="B"}}
   		{{> waitingList matchId=this.matchId team="B"}}
   	</div>
   </div>
</template>
