<!--=================================================================-->
<!-- PROFILE BREAD CRUMBS TEMPLATE -->
<!--=================================================================-->
<template name="profileBreadCrumbs">
	<p><a href="{{pathFor 'home'}}">{{_ "Home"}}</a> &gt; <a href="{{pathFor 'users'}}">{{_ "Users"}}</a> &gt; {{_ "Profile"}}</p>
</template>
