<!--=================================================================-->
<!-- SIGN ME OUT BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> signMeOut matchId='matchId'}} -->
<!-- REQUIRED SUBS: '' -->
<template name="signMeOut">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-danger" type="button"><i class="fa fa-thumbs-o-down"></i> {{_ "Im_Out"}}</button>
			{{> loading status=loadingStatus}}
      </div>
   </div>
</template>
