<!--=================================================================-->
<!-- CAPTCHA FORM COMPONENT TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> captchaFormComponent}} -->
<!-- REQUIRED SUBS: '' -->
<template name="captchaFormComponent">
   <div class="form-group">
		{{> reCAPTCHA}}
	</div>
</template>
