<!--=================================================================-->
<!-- NAVIGATION BAR SEE RESULTS BUTTON TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> navBarSeeResults width="buttonWidth"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="navBarSeeResults">
   <td role="presentation" width="{{this.width}}">
      <a class="navbar-item-wrapper" href="#">
         <div class="row navbar-item-container">
            <div class="navbar-item-icon-container col-xs-12">
               <i class="navbar-item-icon ion-ios-list-outline"></i>
            </div>
            <div class="navbar-item-text-container col-xs-12">
               <span class="navbar-item-text">{{_ "See_Results"}}</span>
            </div>
         </div>
      </a>
   </td>
</template>
