<!--=================================================================-->
<!-- PROFILE DATA TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileData userId="userId"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="profileData">
	<div class="profileData">
		{{#with user}}
			<p class="userName text-uppercase {{sizeClass}}">{{profile.name}}</p>
			<p class="bio {{sizeClass}}">{{profile.selfDescription}}</p>
			<div class="profileData-tableContainer {{sizeClass}}">
				<table>
					{{> profileDateTableComponent title="Member_Since" icon="fa fa-calendar" date=createdAt}}
					<!--{{> profileDataTableComponent title="Age" icon="fa fa-birthday-cake" data=birthday}}-->
					{{> profileInfoTableComponent title="Gender" icon="fa fa-venus-mars" info=profile.gender}}
					{{> profileInfoTableComponent title="Dominant_Leg" icon="fi-foot" info=profile.dominantLeg}}
					{{> profileInfoTableComponent title="Dominant_Hand" icon="ion-android-hand" info=profile.dominantHand}}
					{{> profileSportsTableComponent title="Sports" icon="ion-trophy" sports=profile.sports}}
				</table>
			</div>
		{{/with}}
	</div>
</template>
