/* USERNAME */
.profileData .userName {
	font-weight: 700;
	color: #383838;
	margin-top: -7px;
	margin-bottom: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
}
.profileData .userName.large {
	font-size: 22px;
	text-align: left;
}
.profileData .userName.small {
	font-size: 24px;
	text-align: center;
}

/* BIO */
.profileData .bio.small {
   font-size: 19px;
	text-align: center;
}
.profileData .bio.large {
   font-size: 17px;
	text-align: left;
}

/* TABLE */
.profileData-tableContainer {
	border-top: 1px solid #EEE;
	padding-top: 10px;
}
.profileData-tableContainer > table {
   margin-bottom: 10px;
}
.profileData-tableContainer.small > table {
   width: 100%;
}
.profileData-tableContainer > table > tr {
	cursor: pointer;
}
.profileData-tableContainer > table > tr > td {
   padding-right: 10px;
   padding-bottom: 5px;
}
.profileData-tableContainer.large > table > tr > td {
   text-align: left;
	font-size: 18px;
}
.profileData-tableContainer.small > table > tr > td {
   text-align: center;
	font-size: 18px;
}
.profileData-tableContainer > table > tr > td > span {
   color: #585858;
}


/*
/ USERNAME /
.profileData .userName {
	font-weight: 700;
	color: #383838;
	margin-top: -7px;
	margin-bottom: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
}
.profileData .userName.large {
	font-size: 22px;
	text-align: left;
}
.profileData .userName.small {
	font-size: 20px;
	text-align: center;
}

/ BIO /
.profileData .bio.small {
   font-size: 17px;
	text-align: center;
}
.profileData .bio.large {
   font-size: 17px;
	text-align: left;
}

/ TABLE /
.profileData-tableContainer {

	border-top: 1px solid #EEE;
	padding-top: 10px;
}
.profileData-tableContainer > table {
   margin-bottom: 10px;
}
.profileData-tableContainer.small > table {
   width: 100%;
}
.profileData-tableContainer > table > tr {
	cursor: pointer;
}
.profileData-tableContainer > table > tr > td {
   padding-right: 10px;
   padding-bottom: 5px;
}
.profileData-tableContainer.large > table > tr > td {
   text-align: left;
}
.profileData-tableContainer.small > table > tr > td {
   text-align: center;
	font-size: 16px;
}
.profileData-tableContainer > table > tr > td > span {
   color: #585858;
}
*/
