<!--=================================================================-->
<!-- SELECT2 TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> select2 elemDOM="DOM elem" group="peopleIn/friendsOf/waitingList"
								team="A/B" preLabel="String" label="String" [class="custom class"] [matchId="matchId"] [hint="String"]}} -->
<!-- REQUIRED SUBS: template-level + ['match'] -->
<template name="select2">
	<div class="form-group {{#if classIsSet}}{{this.class}}{{/if}}">
		<label for="">{{_ this.preLabel}}{{_ this.label}}</label>
		<select name="{{this.elemDOM}}" id="{{this.elemDOM}}" type="text" maxlength="500" multiple="multiple" style="width:100%;">
			<option></option>
		</select>
		{{#if hintIsSet}}
			<span class="hint">{{_ this.hint}}.</span>
		{{/if}}
	</div>
</template>

<!--<template name="selectedUser">
	{{#with this.user}}
		<option value="{{_id}}">
			<div class='media' style='height: 80px;'>
				<div class='media-left'>
					<img style='margin-top: 5px; width: 80px;' class='media-object' data-src='holder.js/64x64' src='{{avatar}}'/>
				</div>
				<div class='media-body' style='font-size: 15px;'>
					<strong>{{name}}</strong>
				</div>
			</div>
		</option>
	{{/with}}
</template>-->
