<!--=================================================================-->
<!-- BUTTONS TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> profileButtons userId="userId"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="profileButtons">
	{{#if currentUser}}
		{{#if viewerIsOwner}}
			<a href="#" class="visible-xs text-center edit-profile-button" id="editProfileMOBILE">{{_ "Edit_Profile"}}</a>
			<a href="#" class="visible-sm visible-md visible-lg edit-profile-button" id="editProfileDESKTOP">{{_ "Edit_Profile"}}</a>
			<button
        class="btn-danger visible-xs delete-account-btn delete-account-btn-mobile"
        type="button"
        id="deleteAccountMOBILE"
      >
        {{_ "Delete my account"}}
      </button>
			<button
        class="btn-info visible-xs delete-account-btn delete-account-btn-mobile"
        type="button"
        id="downloadPersonalDataMOBILE"
      >
        {{_ "Download my personal data"}}
      </button>
			<button
        class="btn btn-danger visible-sm visible-md visible-lg text-center delete-account-btn"
        type="button"
        id="deleteAccountDESKTOP"
      >
        {{_ "Delete my account"}}
      </button>
			<button
        class="btn btn-info visible-sm visible-md visible-lg text-center delete-account-btn"
        type="button"
        id="downloadPersonalDataDESKTOP"
      >
        {{_ "Download my personal data"}}
      </button>
		{{/if}}
	{{/if}}
</template>
