<!--=================================================================-->
<!-- ACTIVITY BREAD CRUMBS TEMPLATE -->
<!--=================================================================-->
<template name="activityBreadCrumbs">
	<p><a href="{{pathFor 'home'}}">{{_ "Home"}}</a> &gt; <a href="{{pathFor 'activities'}}">{{_ "Public_Activities"}}</a> &gt; {{_ "Activity_Details"}}</p>
</template>
