<!--=================================================================-->
<!-- WAITING LIST TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> waitingList matchId="matchId" team="A/B"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="waitingList">
   {{#if teamIsFull}}
      {{> subSectionTitle text="Waiting_List" class="text-center"}}
   	<div class="team">
   		<table>
   			{{#each substitutes}}
               <tr>
      				<td>
                     {{> substituteAvatar data=this}} <!-- data = {userId, addedAt, team, [name], matchId, user} -->
      				</td>
               </tr>
   			{{/each}}
   			<tr>
   				<td>
                  {{> dummySubstitute data=dummy}} <!-- data = {matchId, team} -->
   				</td>
            </tr>
   		</table>
   	</div>
   {{/if}}
</template>
