.waitingList {
   overflow-x: auto;
   text-align: center;
   width: 100%;
}
.waitingList-header {
   font-weight: bold;
}
.waitingList > table {

}
.waitingList-avatar {
   padding-left: 5px;
   padding-top: 5px;
}
