<!--=================================================================-->
<!-- USERS MAP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> usersMap}} -->
<!-- REQUIRED SUBS: template-level -->
<!-- COMMENTS: device-type-dispatcher -->
<template name="usersMap">
	{{#visibleXs}}
		<div id="googleMapPlayers" class="googleMapsInner"></div>
	{{/visibleXs}}
	{{#hiddenXs}}
		<div id="googleMapPlayers" class="googleMapsFullWidthFullHeight"></div>
	{{/hiddenXs}}
</template>
