<!--=================================================================-->
<!-- EDIT ACTIVITY DESKTOP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editActivityDESKTOP matchId="matchId"}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: works as a templates-container -->
<template name="editActivityDESKTOP">
	<div class="window window-sharedWidth-leftSide sharedWindow-60x40-left">
		<div class="withPadding page-wrap">
			{{> editActivityBreadCrumbs matchId=this.matchId}}
			{{> sectionTitle text="Admin_Activity"}}
			<!--<div id="participants">--> <!-- for scrolling purposes -->
				{{> editActivityParticipants matchId=this.matchId}}
			<!--</div>-->
			<hr>
			<!--<div id="actions">--> <!-- for scrolling purposes -->
				{{> editActivityActions matchId=this.matchId}}
			<!--</div>-->
			<hr>
			<!--<div id="data">--> <!-- for scrolling purposes -->
				{{> editActivityData matchId=this.matchId}}
			<!--</div>-->
		</div>
		{{> footer}}
	</div>
	<div class="window window-sharedWidth-rightSide sharedWindow-60x40-right">
		{{> editActivityMap matchId=this.matchId}}
	</div>
</template>
