/*====================================================================*/
/* MATCH CARD */
/*====================================================================*/
.matchCard.active {
	background-color: #E9EBEF;
}

/* MOBILE */
.matchCard-mobile {
	border: 1px solid silver;
	margin: 15px 0px;
}
.matchCard-mobile .infoContainer {
	padding: 10px 15px;
}

/* DESKTOP */
.matchCard-desktop {
	margin: 0px;
	padding: 15px 0px;
}
.matchCard-withBorder {
	border-bottom: 1px dotted #d3d3d3;
}
