<!--=================================================================-->
<!-- ACTIVITY CARD TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityCard match='matchObj' type='desktop/mobile' [border="boolean"]}} -->
<!-- REQUIRED SUBS: '' -->
<!-- COMMENTS: device-type-dispatcher -->
<template name="activityCard">
	<a class="anchorWrap" href="/activities/activity/{{this.match._id}}">
		<span class="spanWrap">
			{{#if mobile}}
				<div id="{{this.match._id}}" class="matchCard matchCard-mobile {{active}}"> <!-- id is required to scroll page to given activity when marker is clicked -->
					{{> calendar type='flat' color=matchStatus date=this.match.date time=this.match.time}}
					<div class="infoContainer">
						{{> activityCardData match=this.match}}
						{{> participants matchId=this.match._id}}
					</div>
				</div>
			{{else}}
				{{#if desktop}}
					<div id="{{this.match._id}}" class="media matchCard matchCard-desktop {{#if withBorder}}matchCard-withBorder{{/if}} {{active}}"> <!-- id is required to scroll page to given activity when marker is clicked -->
					  	<div class="media-left">
							{{> calendar type='square' color=matchStatus date=this.match.date time=this.match.time class="media-object"}}
					  	</div>
					  	<div class="media-body">
							{{> activityCardData match=this.match}}
							{{> participants matchId=this.match._id}}
					  	</div>
					</div>
				{{else}}
					Unknown activityCard type! {{this.type}}
				{{/if}}
			{{/if}}
		</span>
	</a>
</template>
