<!--=================================================================-->
<!-- ZOOM SLIDER TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> zoomSlider initialValue="int"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="zoomSlider">
	<div class="form-group zoom-slider">
		<div class="row">
			<div class="col-xs-3">
				<p class="text-left">{{_ "Zoom"}}</p>
				<input name="zoom" id="zoom_slider_value" type="number" step="any" min=1.0 max=21.0 value="{{sliderValue}}">
			</div>
			<div class="col-xs-6">
				<div id="zoom_slider"></div>
			</div>
			<div class="col-xs-3">
				<p class="text-center">{{sliderValue}}</p>
			</div>
		</div>
	</div>
</template>


<!--<template name="zoomSlider">
	<div class="form-group">
		<div class="row">
			<div class="/*col-sm-12*/ col-xs-3">
				<p class="text-left /*hidden-sm hidden-xs*/">{{_ "Zoom"}}</p>
				<input name="zoom" id="zoom" type="number" step="any" min=1.0 max=21.0 value="{{initialValue}}" style="display: none;">
			</div>
			<div class="/*col-sm-12*/ col-xs-6">
				<div id="zoom_slider" style="margin-bottom: 10px;"></div>
			</div>
			<div class="/*col-sm-12*/ col-xs-3">
				<p class="text-center">{{zoom}}</p>
			</div>
		</div>
	</div>
</template>-->
