/* ZOOM SLIDER */
.zoom-slider input#zoom_slider_value {
	display: none;
}
.zoom-slider div#zoom_slider {
	margin-bottom: 10px;
}
/*
.noUi-target {
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 1px 1px #F0F0F0 inset, 0px 3px 6px -5px #BBB;
}
.noUi-background {
    background: none repeat scroll 0% 0% #FAFAFA;
    box-shadow: 0px 1px 1px #F0F0F0 inset;
}
.noUi-horizontal {
    height: 18px;
}
.noUi-target {
    position: relative;
    direction: ltr;
}
*/
