<!--=================================================================-->
<!-- ACTIVITY TITLE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityTitle matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="activityTitle">
   <h3 class="sectionTitle {{sizeClass}} text-center">
      {{_ "Activity_Details"}}&nbsp;&nbsp;{{status}}
   </h3>
   <br>
</template>
