/*====================================================================*/
/* MATCH CARD DATA */
/*====================================================================*/
.matchCardData > .matchCardData-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 1em;
	color: #383838;
	font-family: 'PT Sans Narrow', sans-serif;
}
.matchCardData > span {
	display: inline-block;
	margin-right: 5px;
	font-size: 17px;
	color: black;
}
