<!--=================================================================-->
<!-- ACTIVITY CARD DATA TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> activityCardData match="match"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="activityCardData">
	<div class="matchCardData">
		<p class="matchCardData-title">{{this.match.title}}</p>
		<hr style="border-color: #D8D8D8; margin: 2px; margin-bottom: 5px;">
		<span class="label label-warning" title="{{_ 'Sport'}}"><i class="ion-trophy"></i>&nbsp;{{_ this.match.sport}}</span>
		<span title="{{_ 'Organizer'}}"><i class="ion-ios-person"></i>&nbsp;{{getUserName this.match.createdBy}}</span>
		<span title="{{_ 'Enrolled_Slash_Total'}}"><i class="ion-tshirt"></i>&nbsp;{{playersCounter}}</span>
		<span title="{{_ 'Cost_Per_Person'}}"><i class="fa fa-money"></i>&nbsp;{{this.match.cost}}</span>
		<span title="{{_ 'Address'}}"><i class="ion-android-pin"></i>&nbsp;{{this.match.address}}</span>
		<!--{{#if posts}}
			<span title="{{_ 'Comments'}}"><i class="fa fa-comment"></i>&nbsp;{{numberOfPosts}}</span>
		{{/if}}-->
		<span title="{{_ 'Activity_Status'}}"><i class="fa fa-tag"></i>&nbsp;{{_ this.match.status}}</span>
		{{#if fieldTypeIsSet}}
			<span title="{{_ 'Type_Of_Surface_Slash_Terrain'}}"><i class="fa fa-leaf"></i>&nbsp;{{this.match.fieldType}}</span>
		{{/if}}
		{{#if isPublic}}
			<span title="{{_ 'Privacy'}}"><i class="fa fa-unlock"></i>&nbsp;{{_ "public"}}</span>
		{{else}}
			<span title="{{_ 'Privacy'}}"><i class="fa fa-lock"></i>&nbsp;{{_ "private"}}</span>
		{{/if}}
	</div>
</template>
