<!--=================================================================-->
<!-- EDIT ACTIVITY MAP TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> editActivityMap matchId="matchId"}} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="editActivityMap">
   {{> coordsFormComponent}}
   <div id="googleMap" class="googleMapsFullWidthFullHeight"></div>
</template>
