<!--=================================================================-->
<!-- HEADER MOBILE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE {{> headerMOBILE}} -->
<!-- REQUIRED SUBS: '' -->
<template name="headerMOBILE">
   <nav class="navbar navbar-fixed-top" role="navigation" style="background-color: #0099FF; height: 58px;">
      <!--<div class="/*container-fluid*/">-->
         {{#if main}}
            <table class="navbar-fixed-top-table" style="margin-left: 5px;">
               <tr>
                  {{#if currentUser}}
                     <td role="presentation" width="20%">
                        {{> headerItem section="activities" text="Activities" icon="ion-location" href="/activities" param="" active=activities type="mobile"}}
                     </td>
                     <td role="presentation" width="20%">
                        {{> headerItem section="users" text="Users" icon="ion-ios-people" href="/users" param="" active=users type="mobile"}}
                     </td>
                     <td role="presentation" width="20%">
                        {{> headerItem section="profile" text="Profile" icon="ion-ios-person" href="/profile/" param=curUserId active="" type="mobile"}}
                     </td>
                     <td role="presentation" width="20%">
                        {{> headerNotifButton type="mobile"}}
                     </td>
                     <td role="presentation" width="20%">
                        {{> headerMoreButton type="mobile"}}
                     </td>
                  {{else}}
                     <td role="presentation" width="25%">
                        {{> headerItem section="activities" text="Activities" icon="ion-location" href="/activities" param="" active=activities type="mobile"}}
                     </td>
                     <td role="presentation" width="25%">
                        {{> headerItem section="users" text="Users" icon="ion-ios-people" href="/users" param="" active=users type="mobile"}}
                     </td>
                     <td role="presentation" width="25%">
                        {{> headerMoreButton type="mobile"}}
                     </td>
                     <td role="presentation" width="25%">
                        {{> headerSignInButton type="mobile"}}
                     </td>
                  {{/if}}
               </tr>
            </table>
         {{else}}
            <div class="container-fluid">
               <table class="navbar-fixed-top-table">
                  <tr>
                     <td role="presentation" width="20%">
                        <a class="navbar-item-wrapper" href="{{prevRoute}}">
                           <div class="row navbar-item-container text-left withLeftPadding">
                              <div class="navbar-item-icon-container col-xs-12">
                                 <i class="navbar-item-icon ion-arrow-left-a white"></i>
                              </div>
                              <div class="navbar-item-text-container col-xs-12">
                                 <span class="navbar-item-text text-uppercase white">{{{prevRouteName}}}</span>
                              </div>
                           </div>
                        </a>
                     </td>
                     <td role="presentation" width="60%">
                        <div class="row">
                           <div class="col-xs-12">
                              <span class="text-uppercase" style="font-size: 18px; color: white;">{{{curRouteName}}}</span>
                           </div>
                        </div>
                     </td>
                     {{#if currentUser}}
                        <td width="20%"></td> <!-- in order to keep this centered ;) -->
                     {{else}}
                        <td role="presentation" width="20%">
                           {{> headerSignInButton type="mobile" align="text-right withRightPadding"}}
                        </td>
                     {{/if}}
                  </tr>
               </table>
            </div>
         {{/if}}
      <!--</div>-->
   </nav>
</template>
