/*====================================================================*/
/* DUMMY */
/*====================================================================*/
.dummySubstitute {
	background: #D0D0D0;
	border: 1px solid #A0A0A0;
	cursor: pointer;
   font-size: 14px;
	text-transform: uppercase;
}
.dummySubstitute.large.circle {
	width: 80px;
	height: 80px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	padding-top: 27px;
}
