<!--=================================================================-->
<!-- DUMMY SUBSTITUTE TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> dummySubstitute data="dataObj"}} where data={matchId, team} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="dummySubstitute">
	<div class="dummySubstitute large circle img-center">
		{{_ "Join"}}
	</div>
</template>
