<!--=================================================================-->
<!-- SUBSTITUTE AVATAR TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> substituteAvatar data="dataObj"}} where dataObj = {userId, addedAt, team, matchId, user} -->
<!-- REQUIRED SUBS: 'match' -->
<template name="substituteAvatar">
	<div class="substituteAvatar">
		{{> avatar user=this.data.user size='large' shape='circle' class='img-center' bgColor=randomBgColor txtColor="white"}}
		{{this.data.user.profile.name}}
	</div>
</template>
