<!--=================================================================-->
<!-- LOADING TEMPLATE -->
<!--=================================================================-->
<!-- USAGE: {{> loading status="loading/success/error/wait"}} -->
<!-- REQUIRED SUBS: '' -->
<template name="loading">
   <div class="loading">
      {{#if status "loading"}}
         <i class="fa fa-cog fa-spin"></i>
      {{else}}
         {{#if status "success"}}
            <i class="ion-checkmark"></i>
         {{else}}
            {{#if status "error"}}
               <i class="ion-alert-circled"></i>
            {{else}} <!-- wait -->
               <!-- do nothing -->
            {{/if}}
         {{/if}}
      {{/if}}
   </div>
</template>
